<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>SIP</title>
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
    <meta name="theme-color" content="#5F6CFA">
    <meta name="msapplication-navbutton-color" content="#5F6CFA">
    <meta name="apple-mobile-web-app-status-bar-style" content="#5F6CFA">
</head>
<body>

${require('../parts/header.html')}
<main class="main">
    <div class="section about-main">
        <div class="container">
            <div class="page-title">О нас</div>
            <div class="companies-main__txt">
                <p>Ut nunc faucibus diam, pretium. Turpis feugiat euismod nibh purus accumsan, semper est.</p>
            </div>
        </div>
    </div>
    <div class="section about-description">
        <div class="container">
            <div class="about-description__txt">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget rutrum lacus, non, dapibus viverra. At felis elit risus vel quis turpis ut nullam metus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget rutrum lacus, non, dapibus viverra. </p>
                <p>At felis elit risus vel quis turpis ut nullam metus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget rutrum lacus, non, dapibus viverra. </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget rutrum lacus, non, dapibus viverra. At felis elit risus vel quis turpis ut nullam metus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget rutrum lacus, non, dapibus viverra. </p>
                <p>At felis elit risus vel quis turpis ut nullam metus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
        </div>
    </div>
    <div class="section advantages-section">
        <div class="container">
            <span class="section-title">Преимущества</span>
            <ul class="advantages-wrapper">
                <li class="item1">
                    <div>
                        <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="17.5" cy="17.5" r="16" stroke="white" stroke-width="3"/>
                        </svg>
                    </div>
                    <p>Pellentesque eget rutrum lacus</p>
                </li>
                <li class="item2">
                    <div>
                        <svg width="35" height="30" viewBox="0 0 35 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.21058 27.75L17.5 3L31.7894 27.75H3.21058Z" stroke="white" stroke-width="3"/>
                        </svg>
                    </div>
                    <p>Pellentesque eget rutrum lacus</p>
                </li>
                <li class="item3">
                    <div>
                        <svg width="42" height="40" viewBox="0 0 42 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21 4.8541L24.5127 15.6652L24.8495 16.7016H25.9393H37.3067L28.1103 23.3832L27.2286 24.0238L27.5654 25.0603L31.0781 35.8713L21.8817 29.1897L21 28.5492L20.1183 29.1897L10.9219 35.8713L14.4346 25.0603L14.7714 24.0238L13.8897 23.3832L4.69328 16.7016H16.0607H17.1505L17.4873 15.6652L21 4.8541Z" stroke="white" stroke-width="3"/>
                        </svg>
                    </div>
                    <p>Pellentesque eget rutrum lacus</p>
                </li>
                <li class="item4">
                    <div>
                        <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="1.5" y="1.5" width="26" height="26" stroke="white" stroke-width="3"/>
                        </svg>
                    </div>
                    <p>Pellentesque eget rutrum lacus</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="section about-partners">
        <div class="container">
            <span class="section-title">Партнеры с сертифицированным агенством</span>
            <div class="about-partners__wrapper">
                <div class="about-partners__item">
                    <div></div>
                    <span>Ut nullam metus</span>
                </div>
                <div class="about-partners__item">
                    <div></div>
                    <span>Ut nullam metus</span>
                </div>
            </div>
        </div>
    </div>
    <div class="section about-team">
        <div class="container">
            <span class="section-title">Команда</span>
            <div class="row about-team__wrapper">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class="about-team__item">
                        <div class="about-team__item-pic">
                            <picture>
                                <source srcset="../../images/pixel.webp" data-original="../../images/team-01.webp" class="lazy-web" type="image/webp">
                                <source srcset="../../images/pixel.jpg" data-original="../../images/team-01.jpg" class="lazy-web" type="image/jpg">
                                <img src="../../images/pixel.jpg" data-original="../../images/team-01.jpg" class="lazy" alt="">
                            </picture>
                        </div>
                        <div class="about-team__item-txt">
                            <span>Колесников Андрей</span>
                            <p>CEO</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class="about-team__item">
                        <div class="about-team__item-pic">
                            <picture>
                                <source srcset="../../images/pixel.webp" data-original="../../images/team-02.webp" class="lazy-web" type="image/webp">
                                <source srcset="../../images/pixel.jpg" data-original="../../images/team-02.jpg" class="lazy-web" type="image/jpg">
                                <img src="../../images/pixel.jpg" data-original="../../images/team-02.jpg" class="lazy" alt="">
                            </picture>
                        </div>
                        <div class="about-team__item-txt">
                            <span>Петрушенко Владислава</span>
                            <p>Руководитель отдела разработки</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class="about-team__item">
                        <div class="about-team__item-pic">
                            <picture>
                                <source srcset="../../images/pixel.webp" data-original="../../images/team-03.webp" class="lazy-web" type="image/webp">
                                <source srcset="../../images/pixel.jpg" data-original="../../images/team-03.jpg" class="lazy-web" type="image/jpg">
                                <img src="../../images/pixel.jpg" data-original="../../images/team-03.jpg" class="lazy" alt="">
                            </picture>
                        </div>
                        <div class="about-team__item-txt">
                            <span>Иванчикова Юлиана</span>
                            <p>Руководитель отдела маркетинга</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class="about-team__item">
                        <div class="about-team__item-pic">
                            <picture>
                                <source srcset="../../images/pixel.webp" data-original="../../images/team-04.webp" class="lazy-web" type="image/webp">
                                <source srcset="../../images/pixel.jpg" data-original="../../images/team-04.jpg" class="lazy-web" type="image/jpg">
                                <img src="../../images/pixel.jpg" data-original="../../images/team-04.jpg" class="lazy" alt="">
                            </picture>
                        </div>
                        <div class="about-team__item-txt">
                            <span>Кусташевский Руслан</span>
                            <p>Руководитель отдела работы с клиентами</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class="about-team__item">
                        <div class="about-team__item-pic">
                            <picture>
                                <source srcset="../../images/pixel.webp" data-original="../../images/team-02.webp" class="lazy-web" type="image/webp">
                                <source srcset="../../images/pixel.jpg" data-original="../../images/team-02.jpg" class="lazy-web" type="image/jpg">
                                <img src="../../images/pixel.jpg" data-original="../../images/team-02.jpg" class="lazy" alt="">
                            </picture>
                        </div>
                        <div class="about-team__item-txt">
                            <span>Петрушенко Владислава</span>
                            <p>Руководитель отдела разработки</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class="about-team__item">
                        <div class="about-team__item-pic">
                            <picture>
                                <source srcset="../../images/pixel.webp" data-original="../../images/team-03.webp" class="lazy-web" type="image/webp">
                                <source srcset="../../images/pixel.jpg" data-original="../../images/team-03.jpg" class="lazy-web" type="image/jpg">
                                <img src="../../images/pixel.jpg" data-original="../../images/team-03.jpg" class="lazy" alt="">
                            </picture>
                        </div>
                        <div class="about-team__item-txt">
                            <span>Иванчикова Юлиана</span>
                            <p>Руководитель отдела маркетинга</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class="about-team__item">
                        <div class="about-team__item-pic">
                            <picture>
                                <source srcset="../../images/pixel.webp" data-original="../../images/team-04.webp" class="lazy-web" type="image/webp">
                                <source srcset="../../images/pixel.jpg" data-original="../../images/team-04.jpg" class="lazy-web" type="image/jpg">
                                <img src="../../images/pixel.jpg" data-original="../../images/team-04.jpg" class="lazy" alt="">
                            </picture>
                        </div>
                        <div class="about-team__item-txt">
                            <span>Кусташевский Руслан</span>
                            <p>Руководитель отдела работы с клиентами</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
${require('../parts/footer.html')}

<div class="overlay"></div>
<div class="mfp-hide"></div>

</body>
</html>