<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>SIP</title>
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
    <meta name="theme-color" content="#5F6CFA">
    <meta name="msapplication-navbutton-color" content="#5F6CFA">
    <meta name="apple-mobile-web-app-status-bar-style" content="#5F6CFA">
</head>
<body>

${require('../parts/header.html')}
<main class="main">
    <div class="section about-main">
        <div class="container">
            <div class="page-title">О нас</div>
        </div>
    </div>
    <div class="section about-description">
        <div class="container">
            <div class="about-description__txt">
                <div>Пройдя путь, как агенство по трудоустройсту, мы заметили, что многие работодатели стремятся сократить свои риски в поиске кандидатов на вакансии.</div>
                <p>Мы объединили силы с нашими партнерами из разных стран, что бы предоставить Вам качество, надёжность и сервис</p>
                <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/pic-005.webp" class="lazy-web"
                            type="image/webp">
                    <source srcset="../../images/pixel.png" data-original="../../images/pic-005.png" class="lazy-web"
                            type="image/png">
                    <img src="../../images/pixel.png" data-original="../../images/pic-005.png" class="lazy" alt="">
                </picture>
            </div>
        </div>
    </div>
    <div class="section about-advantages">
        <div class="container">
            <span class="section-title">Преимущества</span>
            <ul class="about-advantages__list">
                <li>Вы получаете кандидатов в один клик</li>
                <li>Возможность выбора стран из которых Вы хотите получать кандидатов</li>
                <li>Около 50 стран с агентствами - партнёрами</li>
                <li>Коммуникация ведётся с 1 поставщиком и 1 персональным менеджером</li>
                <li>Легальное трудоустройство</li>
                <li>Заказ может быть как на 1 человека с узкой специальностью, так и на 200 и более кандидатов, помощников без квалификации</li>
                <li>Работа по студенческим программам</li>
                <li>Налаженный процесс подбора кандидатов, оформления всех необходимых документов и их проверка</li>
                <li>Личный кабинет даёт возможность следить за процессом подбора кандидатов и оформлением документов в режиме реального времени</li>
                <li>У Вас будет куратор для кандидатов в Германии, который отвечает за студентов и помогает им</li>
            </ul>
        </div>
    </div>
    <div class="section about-partners">
        <div class="container">
            <span class="section-title">Партнеры с сертифицированным агенством</span>
            <div class="about-partners__wrapper">
                <div class="about-partners__item">
                    <div></div>
                    <span>Ut nullam metus</span>
                </div>
                <div class="about-partners__item">
                    <div></div>
                    <span>Ut nullam metus</span>
                </div>
            </div>
        </div>
    </div>
    <div class="section about-team">
        <div class="container">
            <span class="section-title">Команда</span>
            <div class="about-team__descr">Наша молодая команда работает из Украины и Германии для более качественно сбора и проверки документации, а также полного сопровождения студентов и компаний во время пребывания студентов в Германии.</div>
            <div class="row about-team__wrapper">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class="about-team__item">
                        <div class="about-team__item-pic">
                            <picture>
                                <source srcset="../../images/pixel.webp" data-original="../../images/team-01.webp" class="lazy-web" type="image/webp">
                                <source srcset="../../images/pixel.jpg" data-original="../../images/team-01.jpg" class="lazy-web" type="image/jpg">
                                <img src="../../images/pixel.jpg" data-original="../../images/team-01.jpg" class="lazy" alt="">
                            </picture>
                        </div>
                        <div class="about-team__item-txt">
                            <span>Колесников Андрей</span>
                            <p>CEO</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class="about-team__item">
                        <div class="about-team__item-pic">
                            <picture>
                                <source srcset="../../images/pixel.webp" data-original="../../images/team-02.webp" class="lazy-web" type="image/webp">
                                <source srcset="../../images/pixel.jpg" data-original="../../images/team-02.jpg" class="lazy-web" type="image/jpg">
                                <img src="../../images/pixel.jpg" data-original="../../images/team-02.jpg" class="lazy" alt="">
                            </picture>
                        </div>
                        <div class="about-team__item-txt">
                            <span>Петрушенко Владислава</span>
                            <p>Руководитель отдела разработки</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class="about-team__item">
                        <div class="about-team__item-pic">
                            <picture>
                                <source srcset="../../images/pixel.webp" data-original="../../images/team-03.webp" class="lazy-web" type="image/webp">
                                <source srcset="../../images/pixel.jpg" data-original="../../images/team-03.jpg" class="lazy-web" type="image/jpg">
                                <img src="../../images/pixel.jpg" data-original="../../images/team-03.jpg" class="lazy" alt="">
                            </picture>
                        </div>
                        <div class="about-team__item-txt">
                            <span>Иванчикова Юлиана</span>
                            <p>Руководитель отдела маркетинга</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class="about-team__item">
                        <div class="about-team__item-pic">
                            <picture>
                                <source srcset="../../images/pixel.webp" data-original="../../images/team-04.webp" class="lazy-web" type="image/webp">
                                <source srcset="../../images/pixel.jpg" data-original="../../images/team-04.jpg" class="lazy-web" type="image/jpg">
                                <img src="../../images/pixel.jpg" data-original="../../images/team-04.jpg" class="lazy" alt="">
                            </picture>
                        </div>
                        <div class="about-team__item-txt">
                            <span>Кусташевский Руслан</span>
                            <p>Руководитель отдела работы с клиентами</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class="about-team__item">
                        <div class="about-team__item-pic">
                            <picture>
                                <source srcset="../../images/pixel.webp" data-original="../../images/team-02.webp" class="lazy-web" type="image/webp">
                                <source srcset="../../images/pixel.jpg" data-original="../../images/team-02.jpg" class="lazy-web" type="image/jpg">
                                <img src="../../images/pixel.jpg" data-original="../../images/team-02.jpg" class="lazy" alt="">
                            </picture>
                        </div>
                        <div class="about-team__item-txt">
                            <span>Петрушенко Владислава</span>
                            <p>Руководитель отдела разработки</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class="about-team__item">
                        <div class="about-team__item-pic">
                            <picture>
                                <source srcset="../../images/pixel.webp" data-original="../../images/team-03.webp" class="lazy-web" type="image/webp">
                                <source srcset="../../images/pixel.jpg" data-original="../../images/team-03.jpg" class="lazy-web" type="image/jpg">
                                <img src="../../images/pixel.jpg" data-original="../../images/team-03.jpg" class="lazy" alt="">
                            </picture>
                        </div>
                        <div class="about-team__item-txt">
                            <span>Иванчикова Юлиана</span>
                            <p>Руководитель отдела маркетинга</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <div class="about-team__item">
                        <div class="about-team__item-pic">
                            <picture>
                                <source srcset="../../images/pixel.webp" data-original="../../images/team-04.webp" class="lazy-web" type="image/webp">
                                <source srcset="../../images/pixel.jpg" data-original="../../images/team-04.jpg" class="lazy-web" type="image/jpg">
                                <img src="../../images/pixel.jpg" data-original="../../images/team-04.jpg" class="lazy" alt="">
                            </picture>
                        </div>
                        <div class="about-team__item-txt">
                            <span>Кусташевский Руслан</span>
                            <p>Руководитель отдела работы с клиентами</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
${require('../parts/footer.html')}

<div class="overlay"></div>
<div class="mfp-hide"></div>

</body>
</html>