<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>SIP</title>
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
    <meta name="theme-color" content="#5F6CFA">
    <meta name="msapplication-navbutton-color" content="#5F6CFA">
    <meta name="apple-mobile-web-app-status-bar-style" content="#5F6CFA">
</head>
<body>

${require('../parts/header-logged-in-company.html')}
<main class="main">
    <div class="section company-cabinet__top">
        <div class="container">
            <div class="page-title">Личный кабинет предприятия</div>
            <nav class="partner-cabinet__navigation company-cabinet__navigation">
                <ul>
                    <li>
                        <a href="javascript:void(0)">Информация о предприятии</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Вакансии</a>
                    </li>
                    <li class="current">
                        <a href="javascript:void(0)">Документы</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Бизнес-процессы</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <ellipse cx="7.11834" cy="8.39983" rx="1.29412" ry="1.29241" fill="#5F6CFA"/>
                                <ellipse cx="10.9972" cy="8.39983" rx="1.29412" ry="1.29241" fill="#5F6CFA"/>
                                <ellipse cx="14.8801" cy="8.39983" rx="1.29412" ry="1.29241" fill="#5F6CFA"/>
                                <path d="M19.25 1.37319C19.6147 1.37319 20.2223 1.77538 20.2223 1.77538C20.4801 2.03291 20.625 2.38218 20.625 2.74637V13.7319C20.625 14.0961 20.4801 14.4453 20.2223 14.7029C19.9644 14.9604 19.6147 15.1051 19.25 15.1051H6.06925C5.33996 15.1052 4.6406 15.3947 4.125 15.9097L1.375 18.6561V2.74637C1.375 2.38218 1.51987 2.03291 1.77773 1.77538C2.03559 1.51786 2.38533 1.37319 2.75 1.37319H19.25ZM2.75 0C2.02065 0 1.32118 0.289349 0.805456 0.804394C0.289731 1.31944 0 2.01799 0 2.74637L0 20.3136C2.88955e-05 20.4494 0.0404148 20.5822 0.116046 20.6951C0.191678 20.8081 0.299155 20.896 0.424874 20.9479C0.550594 20.9998 0.688904 21.0133 0.8223 20.9867C0.955695 20.96 1.07818 20.8945 1.17425 20.7983L5.09713 16.8806C5.35493 16.623 5.70461 16.4783 6.06925 16.4782H19.25C19.9793 16.4782 20.6788 16.1889 21.1945 15.6738C21.7103 15.1588 22 14.4603 22 13.7319V2.74637C22 2.01799 21.7103 1.31944 21.1945 0.804394C20.6788 0.289349 19.9793 0 19.25 0L2.75 0Z" fill="#25222C"/>
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="section partner-cabinet__info">
        <div class="container">
            <div class="partner-cabinet__students-add company-cabinet__vacancy">
                <form class="partner-cabinet__students-form validate-form">
                    <div class="partner-cabinet__students-form__section">
                        <div class="partner-cabinet__students-form__row">
                            <label>Anzahl der benötigten Arbeitskräften</label>
                            <div class="input-wrapper">
                                <input class="input" type="text" name="number_of_workers_required">
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row">
                            <label>Anzahl der Kandidaten mit Deutschkenntnissen</label>
                            <div class="input-wrapper">
                                <input class="input" type="text" name="number_of_candidates_with_knowledge_of_german">
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row">
                            <label>Niveau der Deutschkenntnissen</label>
                            <div class="input-wrapper select-wrapper">
                                <select name="level_of_german_knowledge">
                                    <option selected disabled>Kein</option>
                                    <option>A1</option>
                                    <option>A2</option>
                                    <option>B1</option>
                                    <option>B2</option>
                                    <option>C1</option>
                                </select>
                                <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.33325 2.99984L1.99992 2.33317L3.99992 4.33317L5.99992 2.33317L6.66658 2.99984L3.99992 5.6665L1.33325 2.99984Z" fill="#25222C"/>
                                </svg>
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row">
                            <label>Anzahl der Kandidaten mit Englischkenntnissen</label>
                            <div class="input-wrapper">
                                <input class="input" type="text" name="number_of_candidates_with_knowledge_of_english">
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row">
                            <label>Niveau der Englischkenntnissen</label>
                            <div class="input-wrapper select-wrapper">
                                <select name="level_of_english_knowledge">
                                    <option selected disabled>Kein</option>
                                    <option>A1</option>
                                    <option>A2</option>
                                    <option>B1</option>
                                    <option>B2</option>
                                    <option>C1</option>
                                </select>
                                <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.33325 2.99984L1.99992 2.33317L3.99992 4.33317L5.99992 2.33317L6.66658 2.99984L3.99992 5.6665L1.33325 2.99984Z" fill="#25222C"/>
                                </svg>
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row">
                            <label>Kommentar zu Sprachkenntnissen</label>
                            <div class="input-wrapper">
                                <input class="input" type="text" name="comment_on_language_skills" placeholder="Kommentar zu Sprachkenntnissen">
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row">
                            <label>Geschlecht der Kandidaten</label>
                            <div class="input-wrapper select-wrapper">
                                <select name="gender_of_the_candidates">
                                    <option selected disabled>Nur frauen</option>
                                    <option>1</option>
                                    <option>2</option>
                                </select>
                                <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.33325 2.99984L1.99992 2.33317L3.99992 4.33317L5.99992 2.33317L6.66658 2.99984L3.99992 5.6665L1.33325 2.99984Z" fill="#25222C"/>
                                </svg>
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row">
                            <label>Sonstige Kandidatenkriterien</label>
                            <div class="input-wrapper">
                                <input class="input" type="text" name="other_candidate_criteria" placeholder="Sonstige Kandidatenkriterien">
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row">
                            <label>Müssen die Kandidaten für ein führerschein B klasse verfugen?</label>
                            <div class="input-wrapper select-wrapper">
                                <select name="b_class_driving_license">
                                    <option selected disabled></option>
                                    <option>1</option>
                                    <option>2</option>
                                </select>
                                <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.33325 2.99984L1.99992 2.33317L3.99992 4.33317L5.99992 2.33317L6.66658 2.99984L3.99992 5.6665L1.33325 2.99984Z" fill="#25222C"/>
                                </svg>
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row">
                            <label>Wenn ja, dann wie viele Kandidaten? </label>
                            <div class="input-wrapper">
                                <input class="input" type="text" name="if_yes_then_how_many_candidates">
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row">
                            <label>Von welche länder?</label>
                            <div class="input-wrapper select-wrapper">
                                <select name="from_which_countries">
                                    <option selected disabled></option>
                                    <option>1</option>
                                    <option>2</option>
                                </select>
                                <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.33325 2.99984L1.99992 2.33317L3.99992 4.33317L5.99992 2.33317L6.66658 2.99984L3.99992 5.6665L1.33325 2.99984Z" fill="#25222C"/>
                                </svg>
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row">
                            <label>Brauchen sie die lebensläufe von den</label>
                            <div class="input-wrapper select-wrapper">
                                <select name="do_you_need_the_cvs">
                                    <option selected disabled></option>
                                    <option>1</option>
                                    <option>2</option>
                                </select>
                                <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.33325 2.99984L1.99992 2.33317L3.99992 4.33317L5.99992 2.33317L6.66658 2.99984L3.99992 5.6665L1.33325 2.99984Z" fill="#25222C"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="company-cabinet__vacancy-form__footer">
                        <a href="" class="btn btn-back">
                            <span>
                                <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.00001 1.33398L5.66668 2.00065L3.66668 4.00065L5.66668 6.00065L5.00001 6.66732L2.33334 4.00065L5.00001 1.33398Z" fill="#25222C"/>
                                </svg>
                                Zurück
                            </span>
                        </a>
                        <button type="submit" class="btn company-cabinet__btn">Weiter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
${require('../parts/footer.html')}

<div class="overlay"></div>
<div class="mfp-hide"></div>

</body>
</html>