<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>SIP</title>
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
    <meta name="theme-color" content="#5F6CFA">
    <meta name="msapplication-navbutton-color" content="#5F6CFA">
    <meta name="apple-mobile-web-app-status-bar-style" content="#5F6CFA">
</head>
<body>

<main class="main">
    <div class="section section-review">
        <div class="container">
            <span class="section-title">Ферма_1</span>
            <div class="rating-block rating-block__main">
                <picture class="rating-block__main-pic">
                    <source srcset="../../images/pixel.webp" data-original="../../images/team-02.webp" class="lazy-web" type="image/webp">
                    <source srcset="../../images/pixel.jpg" data-original="../../images/team-02.jpg" class="lazy-web" type="image/jpg">
                    <img src="../../images/pixel.jpg" data-original="../../images/team-02.jpg" class="lazy" alt="">
                </picture>
                <div class="rating-block__main-score">
                    <div class="rating-block__main-score__head">
                        <div>( <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.9545 4.13512C10.8493 3.79121 10.5774 3.56412 10.2254 3.52704L7.67341 3.28401C7.50027 3.26786 7.36114 3.1616 7.29139 2.99193L6.27759 0.531718C6.13808 0.203556 5.84015 0 5.50056 0C5.1539 0 4.85559 0.204952 4.72258 0.533911L3.70955 2.99233C3.63999 3.1618 3.50067 3.26806 3.32715 3.28421L0.76809 3.52744C0.424869 3.56432 0.153694 3.79001 0.041134 4.13532C-0.0626349 4.47464 0.0331077 4.8347 0.292434 5.07614L2.22047 6.83877C2.35138 6.95918 2.40431 7.12945 2.36609 7.30549L1.79737 9.91603C1.72016 10.2677 1.8461 10.6178 2.12645 10.8295C2.39934 11.0359 2.76932 11.0528 3.05808 10.8736L5.26532 9.50433C5.41399 9.40883 5.58389 9.40724 5.73791 9.50613L7.94248 10.8734C8.07568 10.9561 8.22588 11 8.37705 11C8.55535 11 8.726 10.9406 8.86875 10.8297C9.1491 10.6178 9.27523 10.2677 9.19822 9.91683L8.63484 7.30549C8.59643 7.12945 8.64956 6.95938 8.78008 6.83916L10.7074 5.07136C10.9709 4.83351 11.0651 4.47365 10.9545 4.13512Z" fill="#0A1C27"></path>
                        </svg> 8.9)</div>
                        <span>Общий рейтинг</span>
                    </div>
                    <ul class="rating-block__main-score__body">
                        <li>
                            <span>Организация труда</span>
                            <div class="rating-stars">
                                <span class="rating-star icon-star active"></span>
                                <span class="rating-star icon-star active"></span>
                                <span class="rating-star icon-star active"></span>
                                <span class="rating-star icon-star active"></span>
                                <span class="rating-star icon-star active"></span>
                                <span class="rating-star icon-star active"></span>
                                <span class="rating-star icon-star active"></span>
                                <span class="rating-star icon-star active"></span>
                                <span class="rating-star icon-star active"></span>
                                <span class="rating-star icon-star"></span>
                            </div>
                        </li>
                        <li>
                            <span>Отношение к работникам</span>
                            <div class="rating-stars">
                                <span class="rating-star icon-star active"></span>
                                <span class="rating-star icon-star active"></span>
                                <span class="rating-star icon-star active"></span>
                                <span class="rating-star icon-star active"></span>
                                <span class="rating-star icon-star active"></span>
                                <span class="rating-star icon-star active"></span>
                                <span class="rating-star icon-star active"></span>
                                <span class="rating-star icon-star active"></span>
                                <span class="rating-star icon-star active"></span>
                                <span class="rating-star icon-star"></span>
                            </div>
                        </li>
                        <li>
                            <span>Решение проблемных вопросов</span>
                            <div class="rating-stars">
                                <span class="rating-star icon-star active"></span>
                                <span class="rating-star icon-star active"></span>
                                <span class="rating-star icon-star active"></span>
                                <span class="rating-star icon-star active"></span>
                                <span class="rating-star icon-star active"></span>
                                <span class="rating-star icon-star active"></span>
                                <span class="rating-star icon-star active"></span>
                                <span class="rating-star icon-star active"></span>
                                <span class="rating-star icon-star active"></span>
                                <span class="rating-star icon-star"></span>
                            </div>
                        </li>
                        <li>
                            <span>Соблюдение условий вакансии</span>
                            <div class="rating-stars">
                                <span class="rating-star icon-star active"></span>
                                <span class="rating-star icon-star active"></span>
                                <span class="rating-star icon-star active"></span>
                                <span class="rating-star icon-star active"></span>
                                <span class="rating-star icon-star active"></span>
                                <span class="rating-star icon-star active"></span>
                                <span class="rating-star icon-star active"></span>
                                <span class="rating-star icon-star active"></span>
                                <span class="rating-star icon-star active"></span>
                                <span class="rating-star icon-star"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="rating-block rating-block__bot">
                <div class="rating-block__txt">
                    <span class="rating-block__subtitle">Отзывы</span>
                    <div class="rating-block__txt-items">
                        <div class="rating-block__txt-item">
                            <div>
                                <span>20.05.2022</span>
                                <span>Сидоров Иван Петрович</span>
                                <span>Сборщик Ягод</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus pellentesque sed vel tortor integer nisi, sit dictum. Iaculis vitae volutpat sed cursus felis amet tristique aenean dignissim. In rhoncus eget vulputate non tempus. Neque, vitae sit amet elementum aliquet.</p>
                        </div>
                        <div class="rating-block__txt-item">
                            <div>
                                <span>20.05.2022</span>
                                <span>Сидоров Иван Петрович</span>
                                <span>Сборщик Ягод</span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus pellentesque sed vel tortor integer nisi, sit dictum. Iaculis vitae volutpat sed cursus felis amet tristique aenean dignissim. In rhoncus eget vulputate non tempus. Neque, vitae sit amet elementum aliquet.</p>
                        </div>
                    </div>
                </div>
                <div class="rating-block__gallery">
                    <span class="rating-block__subtitle">Фото и видео</span>
                    <div class="rating-gallery">
                        <a href="../../images/vacancy-001.jpg" class="rating-gal">
                            <picture>
                                <source srcset="../../images/pixel.webp" data-original="../../images/vacancy-001.webp" class="lazy-web" type="image/webp">
                                <source srcset="../../images/pixel.jpg" data-original="../../images/vacancy-001.jpg" class="lazy-web" type="image/jpg">
                                <img src="../../images/pixel.jpg" data-original="../../images/vacancy-001.jpg" class="lazy" alt="">
                            </picture>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Июнь 2021</div>
                        </a>
                        <a href="https://www.youtube.com/embed/_gVXK5wPzBE" class="rating-gal">
                            <picture>
                                <source srcset="../../images/pixel.webp" data-original="../../images/vacancy-001.webp" class="lazy-web" type="image/webp">
                                <source srcset="../../images/pixel.jpg" data-original="../../images/vacancy-001.jpg" class="lazy-web" type="image/jpg">
                                <img src="../../images/pixel.jpg" data-original="../../images/vacancy-001.jpg" class="lazy" alt="">
                            </picture>
                            <div>Lorem ipsum dolor sit amet, consectetur </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="btn rating-btn__back">Закрыть</div>
        </div>
    </div>
</main>

</body>
</html>
