<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>SIP</title>
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
    <meta name="theme-color" content="#5F6CFA">
    <meta name="msapplication-navbutton-color" content="#5F6CFA">
    <meta name="apple-mobile-web-app-status-bar-style" content="#5F6CFA">
</head>
<body>

<main class="main">
    <div class="section section-review">
        <div class="container">
            <span class="section-title">Отзыв работодателя</span>
            <form class="review-form validate-form" id="employer-review-form">
                <div class="review-block">
                    <ul class="review-links">
                        <li>
                            <span>Вакансия</span>
                            <a href="javascript:void(0)">Сборщик ягод</a>
                        </li>
                        <li>
                            <span>Работодатель</span>
                            <a href="javascript:void(0)">Ферма 1</a>
                        </li>
                        <li>
                            <span>Студент</span>
                            <a href="javascript:void(0)">Алексеев Алексей Алексеевич</a>
                        </li>
                    </ul>
                </div>
                <div class="review-block">
                    <div class="review-block__title">Отзывы, которые будут видны студенту и другим пользователям платформы</div>
                    <span class="review-block__descr">Оцените студента по десятибалльной системе</span>
                    <div class="review-block__rating-wrapper">
                        <div class="rating-wrapper">
                            <span>Качество работы</span>
                            <fieldset class="rating">
                                <input type="radio" id="star010" name="grade01" value="5"><label class="full icon-star" for="star010"></label>
                                <input type="radio" id="star009" name="grade01" value="4"><label class="full icon-star" for="star009"></label>
                                <input type="radio" id="star008" name="grade01" value="3"><label class="full icon-star" for="star008"></label>
                                <input type="radio" id="star007" name="grade01" value="2"><label class="full icon-star" for="star007"></label>
                                <input type="radio" id="star006" name="grade01" value="1"><label class="full icon-star" for="star006"></label>
                                <input type="radio" id="star005" name="grade01" value="5"><label class="full icon-star" for="star005"></label>
                                <input type="radio" id="star004" name="grade01" value="4"><label class="full icon-star" for="star004"></label>
                                <input type="radio" id="star003" name="grade01" value="3"><label class="full icon-star" for="star003"></label>
                                <input type="radio" id="star002" name="grade01" value="2"><label class="full icon-star" for="star002"></label>
                                <input type="radio" id="star001" name="grade01" value="1"><label class="full icon-star" for="star001"></label>
                                <input type="radio" id="star000" name="grade01" value="0" class="hidden" checked><label class="full icon-star hidden" for="star000"></label>
                            </fieldset>
                        </div>
                        <div class="rating-wrapper">
                            <span>Коммуникабельность</span>
                            <fieldset class="rating">
                                <input type="radio" id="star110" name="grade02" value="5"><label class="full icon-star" for="star110"></label>
                                <input type="radio" id="star109" name="grade02" value="4"><label class="full icon-star" for="star109"></label>
                                <input type="radio" id="star108" name="grade02" value="3"><label class="full icon-star" for="star108"></label>
                                <input type="radio" id="star107" name="grade02" value="2"><label class="full icon-star" for="star107"></label>
                                <input type="radio" id="star106" name="grade02" value="1"><label class="full icon-star" for="star106"></label>
                                <input type="radio" id="star105" name="grade02" value="5"><label class="full icon-star" for="star105"></label>
                                <input type="radio" id="star104" name="grade02" value="4"><label class="full icon-star" for="star104"></label>
                                <input type="radio" id="star103" name="grade02" value="3"><label class="full icon-star" for="star103"></label>
                                <input type="radio" id="star102" name="grade02" value="2"><label class="full icon-star" for="star102"></label>
                                <input type="radio" id="star101" name="grade02" value="1"><label class="full icon-star" for="star101"></label>
                                <input type="radio" id="star100" name="grade02" value="0" class="hidden" checked><label class="full icon-star hidden" for="star100"></label>
                            </fieldset>
                        </div>
                        <div class="rating-wrapper">
                            <span>Активность</span>
                            <fieldset class="rating">
                                <input type="radio" id="star210" name="grade03" value="5"><label class="full icon-star" for="star210"></label>
                                <input type="radio" id="star209" name="grade03" value="4"><label class="full icon-star" for="star209"></label>
                                <input type="radio" id="star208" name="grade03" value="3"><label class="full icon-star" for="star208"></label>
                                <input type="radio" id="star207" name="grade03" value="2"><label class="full icon-star" for="star207"></label>
                                <input type="radio" id="star206" name="grade03" value="1"><label class="full icon-star" for="star206"></label>
                                <input type="radio" id="star205" name="grade03" value="5"><label class="full icon-star" for="star205"></label>
                                <input type="radio" id="star204" name="grade03" value="4"><label class="full icon-star" for="star204"></label>
                                <input type="radio" id="star203" name="grade03" value="3"><label class="full icon-star" for="star203"></label>
                                <input type="radio" id="star202" name="grade03" value="2"><label class="full icon-star" for="star202"></label>
                                <input type="radio" id="star201" name="grade03" value="1"><label class="full icon-star" for="star201"></label>
                                <input type="radio" id="star200" name="grade03" value="0" class="hidden" checked><label class="full icon-star hidden" for="star200"></label>
                            </fieldset>
                        </div>
                        <div class="rating-wrapper">
                            <span>Аккуратность</span>
                            <fieldset class="rating">
                                <input type="radio" id="star310" name="grade04" value="5"><label class="full icon-star" for="star310"></label>
                                <input type="radio" id="star309" name="grade04" value="4"><label class="full icon-star" for="star309"></label>
                                <input type="radio" id="star308" name="grade04" value="3"><label class="full icon-star" for="star308"></label>
                                <input type="radio" id="star307" name="grade04" value="2"><label class="full icon-star" for="star307"></label>
                                <input type="radio" id="star306" name="grade04" value="1"><label class="full icon-star" for="star306"></label>
                                <input type="radio" id="star305" name="grade04" value="5"><label class="full icon-star" for="star305"></label>
                                <input type="radio" id="star304" name="grade04" value="4"><label class="full icon-star" for="star304"></label>
                                <input type="radio" id="star303" name="grade04" value="3"><label class="full icon-star" for="star303"></label>
                                <input type="radio" id="star302" name="grade04" value="2"><label class="full icon-star" for="star302"></label>
                                <input type="radio" id="star301" name="grade04" value="1"><label class="full icon-star" for="star301"></label>
                                <input type="radio" id="star300" name="grade04" value="0" class="hidden" checked><label class="full icon-star hidden" for="star300"></label>
                            </fieldset>
                        </div>
                    </div>
                    <textarea class="review-block__textarea" placeholder="Комментарий"></textarea>
                </div>
                <div class="review-block">
                    <div class="review-block__title">Отзывы, которые увидит только менеджер платформы</div>
                    <span class="review-block__descr">Хотели бы Вы пригласить этого кандидата на следующий сезон?</span>
                    <div class="review-block__radio-wrapper">
                        <div class="radio-wrapper">
                            <input type="radio" name="next_season" id="ns1">
                            <label for="ns1">Да, с удовольствием</label>
                        </div>
                        <div class="radio-wrapper">
                            <input type="radio" name="next_season" id="ns2">
                            <label for="ns2">Мне все равно</label>
                        </div>
                        <div class="radio-wrapper">
                            <input type="radio" name="next_season" id="ns3">
                            <label for="ns3">Нет, не хотел(а) бы</label>
                        </div>
                    </div>
                    <textarea class="review-block__textarea" placeholder="Комментарий"></textarea>
                </div>
                <div class="review-block">
                    <div class="review-block__title">Отзывы о работе платформы</div>
                    <span class="review-block__descr">Оцените работу платформы по десятибалльной системе</span>
                    <div class="review-block__rating-wrapper">
                        <div class="rating-wrapper">
                            <span>Удобный интерфейс</span>
                            <fieldset class="rating">
                                <input type="radio" id="star510" name="grade05" value="5"><label class="full icon-star" for="star510"></label>
                                <input type="radio" id="star509" name="grade05" value="4"><label class="full icon-star" for="star509"></label>
                                <input type="radio" id="star508" name="grade05" value="3"><label class="full icon-star" for="star508"></label>
                                <input type="radio" id="star507" name="grade05" value="2"><label class="full icon-star" for="star507"></label>
                                <input type="radio" id="star506" name="grade05" value="1"><label class="full icon-star" for="star506"></label>
                                <input type="radio" id="star505" name="grade05" value="5"><label class="full icon-star" for="star505"></label>
                                <input type="radio" id="star504" name="grade05" value="4"><label class="full icon-star" for="star504"></label>
                                <input type="radio" id="star503" name="grade05" value="3"><label class="full icon-star" for="star503"></label>
                                <input type="radio" id="star502" name="grade05" value="2"><label class="full icon-star" for="star502"></label>
                                <input type="radio" id="star501" name="grade05" value="1"><label class="full icon-star" for="star501"></label>
                            </fieldset>
                        </div>
                        <div class="rating-wrapper">
                            <span>Сопровождение менеджеров платформы</span>
                            <fieldset class="rating">
                                <input type="radio" id="star610" name="grade06" value="5"><label class="full icon-star" for="star610"></label>
                                <input type="radio" id="star609" name="grade06" value="4"><label class="full icon-star" for="star609"></label>
                                <input type="radio" id="star608" name="grade06" value="3"><label class="full icon-star" for="star608"></label>
                                <input type="radio" id="star607" name="grade06" value="2"><label class="full icon-star" for="star607"></label>
                                <input type="radio" id="star606" name="grade06" value="1"><label class="full icon-star" for="star606"></label>
                                <input type="radio" id="star605" name="grade06" value="5"><label class="full icon-star" for="star605"></label>
                                <input type="radio" id="star604" name="grade06" value="4"><label class="full icon-star" for="star604"></label>
                                <input type="radio" id="star603" name="grade06" value="3"><label class="full icon-star" for="star603"></label>
                                <input type="radio" id="star602" name="grade06" value="2"><label class="full icon-star" for="star602"></label>
                                <input type="radio" id="star601" name="grade06" value="1"><label class="full icon-star" for="star601"></label>
                            </fieldset>
                        </div>
                        <div class="rating-wrapper">
                            <span>Функциональность</span>
                            <fieldset class="rating">
                                <input type="radio" id="star710" name="grade07" value="5"><label class="full icon-star" for="star710"></label>
                                <input type="radio" id="star709" name="grade07" value="4"><label class="full icon-star" for="star709"></label>
                                <input type="radio" id="star708" name="grade07" value="3"><label class="full icon-star" for="star708"></label>
                                <input type="radio" id="star707" name="grade07" value="2"><label class="full icon-star" for="star707"></label>
                                <input type="radio" id="star706" name="grade07" value="1"><label class="full icon-star" for="star706"></label>
                                <input type="radio" id="star705" name="grade07" value="5"><label class="full icon-star" for="star705"></label>
                                <input type="radio" id="star704" name="grade07" value="4"><label class="full icon-star" for="star704"></label>
                                <input type="radio" id="star703" name="grade07" value="3"><label class="full icon-star" for="star703"></label>
                                <input type="radio" id="star702" name="grade07" value="2"><label class="full icon-star" for="star702"></label>
                                <input type="radio" id="star701" name="grade07" value="1"><label class="full icon-star" for="star701"></label>
                            </fieldset>
                        </div>
                        <div class="rating-wrapper">
                            <span>Сопровождение супервайзеров</span>
                            <fieldset class="rating">
                                <input type="radio" id="star810" name="grade08" value="5"><label class="full icon-star" for="star810"></label>
                                <input type="radio" id="star809" name="grade08" value="4"><label class="full icon-star" for="star809"></label>
                                <input type="radio" id="star808" name="grade08" value="3"><label class="full icon-star" for="star808"></label>
                                <input type="radio" id="star807" name="grade08" value="2"><label class="full icon-star" for="star807"></label>
                                <input type="radio" id="star806" name="grade08" value="1"><label class="full icon-star" for="star806"></label>
                                <input type="radio" id="star805" name="grade08" value="5"><label class="full icon-star" for="star805"></label>
                                <input type="radio" id="star804" name="grade08" value="4"><label class="full icon-star" for="star804"></label>
                                <input type="radio" id="star803" name="grade08" value="3"><label class="full icon-star" for="star803"></label>
                                <input type="radio" id="star802" name="grade08" value="2"><label class="full icon-star" for="star802"></label>
                                <input type="radio" id="star801" name="grade08" value="1"><label class="full icon-star" for="star801"></label>
                            </fieldset>
                        </div>
                    </div>
                    <textarea class="review-block__textarea" placeholder="Комментарий"></textarea>
                </div>
                <button type="submit" class="btn">Отправить отзыв</button>
            </form>
        </div>
    </div>
</main>

<div class="mfp-hide">
    <div class="popup" id="employer-review-popup">
        dsfsdgfsdg
    </div>
</div>

</body>
</html>
