<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>SIP</title>
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
    <meta name="theme-color" content="#5F6CFA">
    <meta name="msapplication-navbutton-color" content="#5F6CFA">
    <meta name="apple-mobile-web-app-status-bar-style" content="#5F6CFA">
</head>
<body>

${require('../parts/header.html')}
<main class="main">
    <div class="section partners-main">
        <div class="container">
            <div class="page-title">Партнерам</div>
        </div>
    </div>
    <div class="section partners-description">
        <div class="container">
            <div class="partners-description__txt">
                <div>Цель Work Force Platform — сделать процесс трудоустройства для агентств, работодателей и кандидатов комфортнее и проще.</div>
                <p>Мы берем на себя всю организационную часть: начиная с подбора вакансии и заканчивая куратором для студентов в Германии.</p>
                <picture>
                    <source srcset="../../images/pixel.webp" data-original="../../images/pic-003.webp" class="lazy-web" type="image/webp">
                    <source srcset="../../images/pixel.png" data-original="../../images/pic-003.png" class="lazy-web" type="image/png">
                    <img src="../../images/pixel.png" data-original="../../images/pic-003.png" class="lazy" alt="">
                </picture>
            </div>
        </div>
    </div>
    <div class="section partners-advantages">
        <div class="container">
            <span class="section-title">Преимущества</span>
            <ul class="partners-advantages__list">
                <li>Большое количество вакансий и рабочих мест</li>
                <li>Легальное трудоустройство — только проверенные работодатели</li>
                <li>Вам не нужно знание немецкого языка для общения с работодателем</li>
                <li>Онлайн поддержка личного менеджера на всех этапах оформления</li>
                <li>Индивидуальный подход к каждой компании</li>
                <li>Помощь и контроль при оформлении документов, а так же отправка их в Министерство труда Германии</li>
                <li>Личный кабинет с возможностью онлайн-отслеживания всех процессов в реальном времени</li>
                <li>Организация выезда групп студентов</li>
                <li>Кураторы для студентов в Германии на протяжении работы во время летних каникул / практики по специальности</li>
            </ul>
        </div>
    </div>
    <div class="section partners-requirements">
        <div class="container">
            <span class="section-title">Что нужно для сотрудничества?</span>
            <div class="partners-requirements__txt">
                <ol>
                    <li>1. Оставить заявку</li>
                    <li>2. Заполнить анкету и предоставить лицензию на работу</li>
                    <li>3. Подписать договор с платформой</li>
                    <li>4. Найти кандидатов и предоставить их документы</li>
                    <li>5. Получить утверждение у работодателя и отправить оригиналы документов клиентов менеджеру платформы</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="section partners-become">
        <div class="container">
            <span class="section-title">Хочу стать партнером</span>
            <a href="javascript:void(0)" class="btn btn-b">Связаться с нами</a>
        </div>
    </div>
    <div class="section partners-contacts">
        <div class="container">
            <span class="section-title">Остались вопросы?</span>
            <p class="contact-descr">Оставьте заявку и мы с Вами свяжемся</p>
            <form class="contact-form ajax_form clear-styles" data-error-title="Ошибка отправки!"
                  data-error-message="Попробуйте отправить заявку через некоторое время."
                  data-success-title="Спасибо за заявку! :)"
                  data-success-message="Наш менеджер свяжется с вами в ближайшее время">
                <div class="contact-form__row">
                    <div class="input-wrapper">
                        <label>ФИО</label>
                        <input class="input" type="text" name="name" data-title="ФИО" placeholder="Ваше ФИО" data-validate-required="Обязательное поле">
                    </div>
                    <div class="input-wrapper">
                        <label>Еmail</label>
                        <input class="input" type="text" name="email" data-title="Еmail" placeholder="gmail@gmail.com" data-validate-required="Обязательное поле">
                    </div>
                </div>
                <div class="contact-form__row">
                    <div class="input-wrapper">
                        <label>Телефон</label>
                        <input class="input" type="text" name="phone" data-title="Телефон" placeholder="+49 (000) 000 00 00" data-validate-uaphone="Неправильный номер" data-validate-required="Обязательное поле">
                    </div>
                    <div class="input-wrapper">
                        <label>Название компании</label>
                        <input class="input" type="text" name="company" data-title="Название компании" placeholder="Амбрелла, ООО" data-validate-required="Обязательное поле">
                    </div>
                </div>
                <button type="submit" class="btn btn-p">Перезвоните мне</button>
            </form>
        </div>
    </div>
</main>
${require('../parts/footer.html')}

<div class="overlay"></div>
<div class="mfp-hide"></div>

</body>
</html>