<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>SIP</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#5F6CFA">
  <meta name="msapplication-navbutton-color" content="#5F6CFA">
  <meta name="apple-mobile-web-app-status-bar-style" content="#5F6CFA">
</head>

<body>

  ${require('../parts/header.html')}
  <main class="main">
    <div class="section main-section">
      <div class="container">
        <span class="main-pretitle">Наша цель</span>
        <div class="main-title">Поиск сотрудников в два счета</div>
        <p class="main-descr">Ut nunc faucibus diam, pretium. Turpis feugiat euismod nibh purus accumsan, semper est.
        </p>
        <picture class="main-pic">
          <source srcset="../../images/pixel.webp" data-original="../../images/bg-001.webp" class="lazy-web"
            type="image/webp">
          <source srcset="../../images/pixel.jpg" data-original="../../images/bg-001.jpg" class="lazy-web"
            type="image/jpg">
          <img src="../../images/pixel.jpg" data-original="../../images/bg-001.jpg" class="lazy" alt="">
        </picture>
        <picture class="main-pic__mob">
          <source srcset="../../images/pixel.webp" data-original="../../images/bg-001__mob.webp" class="lazy-web"
            type="image/webp">
          <source srcset="../../images/pixel.jpg" data-original="../../images/bg-001__mob.jpg" class="lazy-web"
            type="image/jpg">
          <img src="../../images/pixel.jpg" data-original="../../images/bg-001__mob.jpg" class="lazy" alt="">
        </picture>
      </div>
    </div>
    <div class="section workers-section">
      <div class="container">
        <div class="row workers-wrapper">
          <div class="col-md-6 col-sm-12 col-xs-12 workers-txt">
            <span class="section-title">Работники со всего мира</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget rutrum lacus, non, dapibus
              viverra. At felis elit risus vel quis turpis ut nullam metus.Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Pellentesque eget rutrum lacus, non, dapibus viverra. At felis elit risus vel quis turpis
              ut nullam metus.</p>
            <p>At felis elit risus vel quis turpis ut nullam metus.Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. Pellentesque eget rutrum lacus, non, dapibus viverra. </p>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12 workers-pic">
            <picture>
              <source srcset="../../images/pixel.webp" data-original="../../images/pic-001.webp" class="lazy-web"
                type="image/webp">
              <source srcset="../../images/pixel.png" data-original="../../images/pic-001.png" class="lazy-web"
                type="image/png">
              <img src="../../images/pixel.png" data-original="../../images/pic-001.png" class="lazy" alt="">
            </picture>
          </div>
        </div>
      </div>
    </div>
    <div class="section how-section">
      <div class="container">
        <span class="section-title">Как это работает</span>
        <p class="how-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget rutrum lacus,
          non, dapibus viverra. At felis elit risus vel quis turpis ut nullam metus.Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Pellentesque eget rutrum lacus, non, dapibus viverra. At felis elit risus eget
          rutrum lacus, non, vel quis turpis ut nullam metus.</p>
        <div class="how-buttons registration-link">
          <a href="#registration-popup" class="btn btn-b" data-effect="mfp-zoom-in">Зарегистрироваться</a>
          <a href="javascript:void(0)" class="btn">Связаться с нами</a>
        </div>
      </div>
    </div>
    <div class="section services-section">
      <div class="container">
        <div class="row services-wrapper">
          <div class="col-md-6 col-sm-12 col-xs-12 services-pic">
            <picture>
              <source srcset="../../images/pixel.webp" data-original="../../images/pic-002.webp" class="lazy-web"
                type="image/webp">
              <source srcset="../../images/pixel.png" data-original="../../images/pic-002.png" class="lazy-web"
                type="image/png">
              <img src="../../images/pixel.png" data-original="../../images/pic-002.png" class="lazy" alt="">
            </picture>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12 services-txt">
            <span class="section-title">Услуги</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget rutrum lacus, non, dapibus
              viverra. At felis elit risus vel quis turpis ut nullam metus.Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Pellentesque eget rutrum lacus, non, dapibus viverra. At felis elit risus vel quis turpis
              ut nullam metus.</p>
            <ul>
              <li>Сonsectetur adipiscing elit. </li>
              <li>Pellentesque eget rutrum lacus, non, dapibus viverra. </li>
              <li>At felis elit risus vel quis turpis ut nullam metus</li>
            </ul>
            <p>Pellentesque eget rutrum lacus, non, dapibus viverra. At felis elit risus vel quis turpis ut nullam
              metus.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section advantages-section">
      <div class="container">
        <span class="section-title">Преимущества</span>
        <ul class="advantages-wrapper">
          <li class="item1">
            <div>
              <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="17.5" cy="17.5" r="16" stroke="white" stroke-width="3" />
              </svg>
            </div>
            <p>Pellentesque eget rutrum lacus</p>
          </li>
          <li class="item2">
            <div>
              <svg width="35" height="30" viewBox="0 0 35 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.21058 27.75L17.5 3L31.7894 27.75H3.21058Z" stroke="white" stroke-width="3" />
              </svg>
            </div>
            <p>Pellentesque eget rutrum lacus</p>
          </li>
          <li class="item3">
            <div>
              <svg width="42" height="40" viewBox="0 0 42 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M21 4.8541L24.5127 15.6652L24.8495 16.7016H25.9393H37.3067L28.1103 23.3832L27.2286 24.0238L27.5654 25.0603L31.0781 35.8713L21.8817 29.1897L21 28.5492L20.1183 29.1897L10.9219 35.8713L14.4346 25.0603L14.7714 24.0238L13.8897 23.3832L4.69328 16.7016H16.0607H17.1505L17.4873 15.6652L21 4.8541Z"
                  stroke="white" stroke-width="3" />
              </svg>
            </div>
            <p>Pellentesque eget rutrum lacus</p>
          </li>
          <li class="item4">
            <div>
              <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="1.5" y="1.5" width="26" height="26" stroke="white" stroke-width="3" />
              </svg>
            </div>
            <p>Pellentesque eget rutrum lacus</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="section contact-section">
      <div class="container">
        <span class="section-title">Связаться с нами</span>
        <p class="contact-descr">Обсудите детали с нашим менеджером</p>
        <form class="contact-form ajax_form clear-styles" data-error-title="Ошибка отправки!"
          data-error-message="Попробуйте отправить заявку через некоторое время."
          data-success-title="Спасибо за заявку! :)"
          data-success-message="Наш менеджер свяжется с вами в ближайшее время">
          <div class="contact-form__row">
            <div class="input-wrapper">
              <label>ФИО</label>
              <input class="input" type="text" name="name" data-title="ФИО" placeholder="Ваше ФИО"
                data-validate-required="Обязательное поле">
            </div>
            <div class="input-wrapper">
              <label>Еmail</label>
              <input class="input" type="text" name="email" data-title="Еmail" placeholder="gmail@gmail.com"
                data-validate-required="Обязательное поле">
            </div>
          </div>
          <div class="contact-form__row">
            <div class="input-wrapper">
              <label>Телефон</label>
              <input class="input" type="text" name="phone" data-title="Телефон" placeholder="+49 (000) 000 00 00"
                data-validate-uaphone="Неправильный номер" data-validate-required="Обязательное поле">
            </div>
            <div class="input-wrapper">
              <label>Название компании</label>
              <input class="input" type="text" name="company" data-title="Название компании" placeholder="Амбрелла, ООО"
                data-validate-required="Обязательное поле">
            </div>
          </div>
          <button type="submit" class="btn btn-p popup-swal">Перезвоните мне</button>
        </form>
      </div>
    </div>
  </main>
  ${require('../parts/footer.html')}

  <div class="overlay"></div>
  <div class="mfp-hide"></div>

</body>

</html>
