<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>SIP</title>
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
    <meta name="theme-color" content="#5F6CFA">
    <meta name="msapplication-navbutton-color" content="#5F6CFA">
    <meta name="apple-mobile-web-app-status-bar-style" content="#5F6CFA">
</head>
<body>

<main class="main">
    <div class="insurance">
        <div class="container">
            <div class="page-title">Список сайтов страховых компаний</div>
            <ul class="insurance-list">
                <li>
                    <span>Германия</span>
                    <div>
                        <a href="javascript:void(0)">www.site_1.com</a>
                        <a href="javascript:void(0)">www.site_2.com</a>
                    </div>
                </li>
                <li>
                    <span>Украина</span>
                    <div>
                        <a href="javascript:void(0)">www.site_1.com</a>
                    </div>
                </li>
                <li>
                    <span>Албания</span>
                    <div>
                        <a href="javascript:void(0)">www.site_1.com</a>
                        <a href="javascript:void(0)">www.site_2.com</a>
                    </div>
                </li>
                <li>
                    <span>Вьетнам</span>
                    <div>
                        <a href="javascript:void(0)">www.site_1.com</a>
                        <a href="javascript:void(0)">www.site_2.com</a>
                    </div>
                </li>
                <li>
                    <span>Индия</span>
                    <div>
                        <a href="javascript:void(0)">www.site_1.com</a>
                        <a href="javascript:void(0)">www.site_2.com</a>
                    </div>
                </li>
                <li>
                    <span>Латвия</span>
                    <div>
                        <a href="javascript:void(0)">www.site_1.com</a>
                        <a href="javascript:void(0)">www.site_2.com</a>
                    </div>
                </li>
                <li>
                    <span>Польша</span>
                    <div>
                        <a href="javascript:void(0)">www.site_1.com</a>
                        <a href="javascript:void(0)">www.site_2.com</a>
                    </div>
                </li>
                <li>
                    <span>Киргизстан</span>
                    <div>
                        <a href="javascript:void(0)">www.site_1.com</a>
                        <a href="javascript:void(0)">www.site_2.com</a>
                    </div>
                </li>
            </ul>
            <a href="javascript:void(0)" class="btn">Назад</a>
        </div>
    </div>
</main>

</body>
</html>
