<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>SIP</title>
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
    <meta name="theme-color" content="#5F6CFA">
    <meta name="msapplication-navbutton-color" content="#5F6CFA">
    <meta name="apple-mobile-web-app-status-bar-style" content="#5F6CFA">
</head>
<body>

${require('../parts/header-logged-in.html')}
<main class="main">
    <div class="section partner-cabinet__top">
        <div class="container">
            <div class="page-title">Личный кабинет партнера</div>
            <nav class="partner-cabinet__navigation">
                <ul>
                    <li>
                        <a href="javascript:void(0)">Информация о предприятии</a>
                    </li>
                    <li class="current">
                        <a href="javascript:void(0)">Студенты</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Документы</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Бизнес-процессы</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Новости</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <ellipse cx="7.11834" cy="8.39983" rx="1.29412" ry="1.29241" fill="#5F6CFA"/>
                                <ellipse cx="10.9972" cy="8.39983" rx="1.29412" ry="1.29241" fill="#5F6CFA"/>
                                <ellipse cx="14.8801" cy="8.39983" rx="1.29412" ry="1.29241" fill="#5F6CFA"/>
                                <path d="M19.25 1.37319C19.6147 1.37319 20.2223 1.77538 20.2223 1.77538C20.4801 2.03291 20.625 2.38218 20.625 2.74637V13.7319C20.625 14.0961 20.4801 14.4453 20.2223 14.7029C19.9644 14.9604 19.6147 15.1051 19.25 15.1051H6.06925C5.33996 15.1052 4.6406 15.3947 4.125 15.9097L1.375 18.6561V2.74637C1.375 2.38218 1.51987 2.03291 1.77773 1.77538C2.03559 1.51786 2.38533 1.37319 2.75 1.37319H19.25ZM2.75 0C2.02065 0 1.32118 0.289349 0.805456 0.804394C0.289731 1.31944 0 2.01799 0 2.74637L0 20.3136C2.88955e-05 20.4494 0.0404148 20.5822 0.116046 20.6951C0.191678 20.8081 0.299155 20.896 0.424874 20.9479C0.550594 20.9998 0.688904 21.0133 0.8223 20.9867C0.955695 20.96 1.07818 20.8945 1.17425 20.7983L5.09713 16.8806C5.35493 16.623 5.70461 16.4783 6.06925 16.4782H19.25C19.9793 16.4782 20.6788 16.1889 21.1945 15.6738C21.7103 15.1588 22 14.4603 22 13.7319V2.74637C22 2.01799 21.7103 1.31944 21.1945 0.804394C20.6788 0.289349 19.9793 0 19.25 0L2.75 0Z" fill="#25222C"/>
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="section partner-cabinet__info">
        <div class="container">
            <div class="partner-cabinet__students-add">
                <form class="partner-cabinet__students-form validate-form">
                    <div class="partner-cabinet__students-form__section">
                        <div class="partner-cabinet__students-form__row">
                            <label>ФИО студента <span>(по-украински из паспорта)</span></label>
                            <div class="input-wrapper">
                                <input class="input" type="text" name="name_ua" placeholder="Алексєєв Олексій Олексійовіч">
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row changed-name__row">
                            <label>Изменяли ли Вы имя или фамилию?</label>
                            <div class="input-wrapper changed-name__wrapper">
                                <div class="checkbox-wrapper">
                                    <input type="checkbox" id="changed-name">
                                    <label for="changed-name">Да</label>
                                </div>
                                <div class="changed-name">
                                    <div class="input-wrapper">
                                        <input class="input" type="text" name="last-name-old" placeholder="Предыдущая фамилия">
                                    </div>
                                    <div class="input-wrapper">
                                        <input class="input" type="text" name="first-name-old" placeholder="Предыдущее имя">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row">
                            <label>Имя студента <span>(латиницей  из загранпаспорта или ID)</span></label>
                            <div class="input-wrapper">
                                <input class="input" type="text" name="first_name_en" placeholder="Oleksii">
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row">
                            <label>Фамилия студента <span>(латиницей  из загранпаспорта или ID)</span></label>
                            <div class="input-wrapper">
                                <input class="input" type="text" name="last_name_en" placeholder="Alekseiev">
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row">
                            <label>Дата рождения студента</label>
                            <div class="input-wrapper date-wrapper">
                                <div class="date-choose">
                                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g opacity="0.4">
                                            <path d="M8.75 13.75H11.25V16.25H8.75V13.75ZM8.75 18.75H11.25V21.25H8.75V18.75ZM13.75 13.75H16.25V16.25H13.75V13.75ZM13.75 18.75H16.25V21.25H13.75V18.75ZM18.75 13.75H21.25V16.25H18.75V13.75ZM18.75 18.75H21.25V21.25H18.75V18.75Z" fill="#474747"/>
                                            <path d="M6.25 27.5H23.75C25.1287 27.5 26.25 26.3787 26.25 25V7.5C26.25 6.12125 25.1287 5 23.75 5H21.25V2.5H18.75V5H11.25V2.5H8.75V5H6.25C4.87125 5 3.75 6.12125 3.75 7.5V25C3.75 26.3787 4.87125 27.5 6.25 27.5ZM23.75 10L23.7512 25H6.25V10H23.75Z" fill="#474747"/>
                                        </g>
                                    </svg>
                                    <input name="date_of_birth" type="date" class="input date">
                                    <span class="placeholder">01.10.2021</span>
                                </div>
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row">
                            <label>Место рождения студента (страна)</label>
                            <div class="input-wrapper select-wrapper">
                                <select name="place_of_birth">
                                    <option selected disabled>Выберите из списка</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                                <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.33325 2.99984L1.99992 2.33317L3.99992 4.33317L5.99992 2.33317L6.66658 2.99984L3.99992 5.6665L1.33325 2.99984Z" fill="#25222C"/>
                                </svg>
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row">
                            <label>Место рождения студента (область, город)</label>
                            <div class="input-wrapper">
                                <input class="input" type="text" name="city_of_birth" placeholder="Харьковская область, Мерефа">
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row">
                            <label>Пол студента</label>
                            <div class="input-wrapper select-wrapper">
                                <select name="sex">
                                    <option selected disabled>мужской / женский</option>
                                    <option>мужской</option>
                                    <option>женский</option>
                                </select>
                                <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.33325 2.99984L1.99992 2.33317L3.99992 4.33317L5.99992 2.33317L6.66658 2.99984L3.99992 5.6665L1.33325 2.99984Z" fill="#25222C"/>
                                </svg>
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row">
                            <label>Телефон студента</label>
                            <div class="input-wrapper">
                                <input class="input" type="text" name="phone" placeholder="+038 (095) 123 45 67">
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row">
                            <label>Email студента</label>
                            <div class="input-wrapper">
                                <input class="input" type="text" name="email" placeholder="gmail@gmail.com">
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row">
                            <label>Страна обучения студента</label>
                            <div class="input-wrapper select-wrapper">
                                <select name="country_of_study">
                                    <option selected disabled>Выберите из списка</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                                <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.33325 2.99984L1.99992 2.33317L3.99992 4.33317L5.99992 2.33317L6.66658 2.99984L3.99992 5.6665L1.33325 2.99984Z" fill="#25222C"/>
                                </svg>
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row">
                            <label>Город обучения студента</label>
                            <div class="input-wrapper select-wrapper">
                                <select name="city_of_study">
                                    <option selected disabled>Выберите из списка</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                                <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.33325 2.99984L1.99992 2.33317L3.99992 4.33317L5.99992 2.33317L6.66658 2.99984L3.99992 5.6665L1.33325 2.99984Z" fill="#25222C"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="partner-cabinet__students-form__section">
                        <div class="partner-cabinet__students-form__row">
                            <label>Учебное учреждение</label>
                            <div class="input-wrapper select-wrapper">
                                <select name="educational_establishment">
                                    <option selected disabled>Выберите из списка</option>
                                    <option>Техникум</option>
                                    <option>Колледж</option>
                                    <option>Университет</option>
                                </select>
                                <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.33325 2.99984L1.99992 2.33317L3.99992 4.33317L5.99992 2.33317L6.66658 2.99984L3.99992 5.6665L1.33325 2.99984Z" fill="#25222C"/>
                                </svg>
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row">
                            <label>Название учебного заведения</label>
                            <div class="input-wrapper select-wrapper">
                                <select name="educational_establishment_name">
                                    <option selected disabled>Выберите из списка</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                                <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.33325 2.99984L1.99992 2.33317L3.99992 4.33317L5.99992 2.33317L6.66658 2.99984L3.99992 5.6665L1.33325 2.99984Z" fill="#25222C"/>
                                </svg>
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row">
                            <label>Сайт учебного заведения</label>
                            <div class="input-wrapper">
                                <input class="input" type="text" name="university_sitе" placeholder="Техникум/Колледж/Университет...">
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row another-option__row">
                            <label>Факультет студента</label>
                            <div class="input-wrapper another-option__wrapper">
                                <div class="input-wrapper select-wrapper">
                                    <select class="another-option" name="faculty">
                                        <option selected disabled>Выберите из списка</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option value="another">Другое</option>
                                    </select>
                                    <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.33325 2.99984L1.99992 2.33317L3.99992 4.33317L5.99992 2.33317L6.66658 2.99984L3.99992 5.6665L1.33325 2.99984Z" fill="#25222C"/>
                                    </svg>
                                </div>
                                <div class="input-wrapper another-option__input">
                                    <input class="input" type="text" name="another_faculty" placeholder="Введите название факультета">
                                </div>
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row">
                            <label>Специальность студента</label>
                            <div class="input-wrapper">
                                <input class="input" type="text" name="speciality" placeholder="Ввведите название специальности">
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row">
                            <label>Дата поступления</label>
                            <div class="input-wrapper date-wrapper">
                                <div class="date-choose">
                                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g opacity="0.4">
                                            <path d="M8.75 13.75H11.25V16.25H8.75V13.75ZM8.75 18.75H11.25V21.25H8.75V18.75ZM13.75 13.75H16.25V16.25H13.75V13.75ZM13.75 18.75H16.25V21.25H13.75V18.75ZM18.75 13.75H21.25V16.25H18.75V13.75ZM18.75 18.75H21.25V21.25H18.75V18.75Z" fill="#474747"/>
                                            <path d="M6.25 27.5H23.75C25.1287 27.5 26.25 26.3787 26.25 25V7.5C26.25 6.12125 25.1287 5 23.75 5H21.25V2.5H18.75V5H11.25V2.5H8.75V5H6.25C4.87125 5 3.75 6.12125 3.75 7.5V25C3.75 26.3787 4.87125 27.5 6.25 27.5ZM23.75 10L23.7512 25H6.25V10H23.75Z" fill="#474747"/>
                                        </g>
                                    </svg>
                                    <input name="admission_date" type="date" class="input date">
                                    <span class="placeholder">01.10.2021</span>
                                </div>
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row">
                            <label>Дата окончания</label>
                            <div class="input-wrapper date-wrapper">
                                <div class="date-choose">
                                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g opacity="0.4">
                                            <path d="M8.75 13.75H11.25V16.25H8.75V13.75ZM8.75 18.75H11.25V21.25H8.75V18.75ZM13.75 13.75H16.25V16.25H13.75V13.75ZM13.75 18.75H16.25V21.25H13.75V18.75ZM18.75 13.75H21.25V16.25H18.75V13.75ZM18.75 18.75H21.25V21.25H18.75V18.75Z" fill="#474747"/>
                                            <path d="M6.25 27.5H23.75C25.1287 27.5 26.25 26.3787 26.25 25V7.5C26.25 6.12125 25.1287 5 23.75 5H21.25V2.5H18.75V5H11.25V2.5H8.75V5H6.25C4.87125 5 3.75 6.12125 3.75 7.5V25C3.75 26.3787 4.87125 27.5 6.25 27.5ZM23.75 10L23.7512 25H6.25V10H23.75Z" fill="#474747"/>
                                        </g>
                                    </svg>
                                    <input name="graduation_date" type="date" class="input date">
                                    <span class="placeholder">01.10.2021</span>
                                </div>
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row">
                            <label>Каникулы начинаются</label>
                            <div class="input-wrapper date-wrapper">
                                <div class="date-choose">
                                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g opacity="0.4">
                                            <path d="M8.75 13.75H11.25V16.25H8.75V13.75ZM8.75 18.75H11.25V21.25H8.75V18.75ZM13.75 13.75H16.25V16.25H13.75V13.75ZM13.75 18.75H16.25V21.25H13.75V18.75ZM18.75 13.75H21.25V16.25H18.75V13.75ZM18.75 18.75H21.25V21.25H18.75V18.75Z" fill="#474747"/>
                                            <path d="M6.25 27.5H23.75C25.1287 27.5 26.25 26.3787 26.25 25V7.5C26.25 6.12125 25.1287 5 23.75 5H21.25V2.5H18.75V5H11.25V2.5H8.75V5H6.25C4.87125 5 3.75 6.12125 3.75 7.5V25C3.75 26.3787 4.87125 27.5 6.25 27.5ZM23.75 10L23.7512 25H6.25V10H23.75Z" fill="#474747"/>
                                        </g>
                                    </svg>
                                    <input name="start_of_vacation" type="date" class="input date">
                                    <span class="placeholder">01.10.2021</span>
                                </div>
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row">
                            <label>Каникулы заканчиваются</label>
                            <div class="input-wrapper date-wrapper">
                                <div class="date-choose">
                                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g opacity="0.4">
                                            <path d="M8.75 13.75H11.25V16.25H8.75V13.75ZM8.75 18.75H11.25V21.25H8.75V18.75ZM13.75 13.75H16.25V16.25H13.75V13.75ZM13.75 18.75H16.25V21.25H13.75V18.75ZM18.75 13.75H21.25V16.25H18.75V13.75ZM18.75 18.75H21.25V21.25H18.75V18.75Z" fill="#474747"/>
                                            <path d="M6.25 27.5H23.75C25.1287 27.5 26.25 26.3787 26.25 25V7.5C26.25 6.12125 25.1287 5 23.75 5H21.25V2.5H18.75V5H11.25V2.5H8.75V5H6.25C4.87125 5 3.75 6.12125 3.75 7.5V25C3.75 26.3787 4.87125 27.5 6.25 27.5ZM23.75 10L23.7512 25H6.25V10H23.75Z" fill="#474747"/>
                                        </g>
                                    </svg>
                                    <input name="end_of_vacation" type="date" class="input date">
                                    <span class="placeholder">01.10.2021</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="partner-cabinet__students-form__section">
                        <div class="partner-cabinet__students-form__row">
                            <label>Страна проживания студента</label>
                            <div class="input-wrapper select-wrapper">
                                <select name="country_of_residence">
                                    <option selected disabled>Выберите из списка</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                                <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.33325 2.99984L1.99992 2.33317L3.99992 4.33317L5.99992 2.33317L6.66658 2.99984L3.99992 5.6665L1.33325 2.99984Z" fill="#25222C"/>
                                </svg>
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row another-option__row">
                            <label>Город проживания студента</label>
                            <div class="input-wrapper another-option__wrapper">
                                <div class="input-wrapper select-wrapper">
                                    <select class="another-option" name="city_of_residence">
                                        <option selected disabled>Выберите из списка</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option value="another">Другой</option>
                                    </select>
                                    <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.33325 2.99984L1.99992 2.33317L3.99992 4.33317L5.99992 2.33317L6.66658 2.99984L3.99992 5.6665L1.33325 2.99984Z" fill="#25222C"/>
                                    </svg>
                                </div>
                                <div class="input-wrapper another-option__input">
                                    <input class="input" type="text" name="another_city" placeholder="Ввведите город">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="partner-cabinet__students-form__section">
                        <div class="partner-cabinet__students-form__subtitle">Прописка</div>
                        <div class="partner-cabinet__students-form__row">
                            <label>Улица и номер дома, квартиры</label>
                            <div class="input-wrapper">
                                <input class="input" type="text" name="registration_address" placeholder="ul. Primernaya, 1.">
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row another-option__row">
                            <label>Город</label>
                            <div class="input-wrapper another-option__wrapper">
                                <div class="input-wrapper select-wrapper">
                                    <select class="another-option" name="registration_address_city">
                                        <option selected disabled>Выберите из списка</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option value="another">Другой</option>
                                    </select>
                                    <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.33325 2.99984L1.99992 2.33317L3.99992 4.33317L5.99992 2.33317L6.66658 2.99984L3.99992 5.6665L1.33325 2.99984Z" fill="#25222C"/>
                                    </svg>
                                </div>
                                <div class="input-wrapper another-option__input">
                                    <input class="input" type="text" name="registration_address_another_city" placeholder="Ввведите город">
                                </div>
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row">
                            <label>Индекс</label>
                            <div class="input-wrapper">
                                <input class="input" type="text" name="zip" placeholder="61000">
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row">
                            <label>Район/Область</label>
                            <div class="input-wrapper">
                                <input class="input" type="text" name="region" placeholder="Kharkiv obl.">
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row">
                            <label>Страна</label>
                            <div class="input-wrapper">
                                <input class="input" type="text" name="country" placeholder="Ukraine">
                            </div>
                        </div>
                    </div>
                    <div class="partner-cabinet__students-form__section">
                        <div class="partner-cabinet__students-form__row">
                            <label>Уровень немецкого языка студента</label>
                            <div class="input-wrapper select-wrapper">
                                <select name="german_level">
                                    <option selected disabled>Выберите из списка</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                                <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.33325 2.99984L1.99992 2.33317L3.99992 4.33317L5.99992 2.33317L6.66658 2.99984L3.99992 5.6665L1.33325 2.99984Z" fill="#25222C"/>
                                </svg>
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row">
                            <label>Уровень английского языка студента</label>
                            <div class="input-wrapper select-wrapper">
                                <select name="english_level">
                                    <option selected disabled>Выберите из списка</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                                <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.33325 2.99984L1.99992 2.33317L3.99992 4.33317L5.99992 2.33317L6.66658 2.99984L3.99992 5.6665L1.33325 2.99984Z" fill="#25222C"/>
                                </svg>
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row">
                            <label>Другие языки, укажите какие и их уровень</label>
                            <div class="input-wrapper">
                                <input class="input" type="text" name="another_languages" placeholder="Введите данные">
                            </div>
                        </div>
                    </div>
                    <div class="partner-cabinet__students-form__section">
                        <div class="partner-cabinet__students-form__row">
                            <label>Наличие у студента водительского удостоверения</label>
                            <div class="input-wrapper select-wrapper">
                                <select name="driving_license">
                                    <option selected disabled>Выберите из списка</option>
                                    <option>Есть права</option>
                                    <option>Нет прав</option>
                                </select>
                                <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.33325 2.99984L1.99992 2.33317L3.99992 4.33317L5.99992 2.33317L6.66658 2.99984L3.99992 5.6665L1.33325 2.99984Z" fill="#25222C"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="partner-cabinet__students-form__section">
                        <div class="partner-cabinet__students-form__row">
                            <label>Рост, см</label>
                            <div class="input-wrapper">
                                <input class="input" type="text" name="growth" placeholder="180">
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row">
                            <label>Размер обуви</label>
                            <div class="input-wrapper">
                                <input class="input" type="text" name="shoe_size" placeholder="43">
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row">
                            <label>Размер футболки</label>
                            <div class="input-wrapper select-wrapper">
                                <select name="tshirt_size">
                                    <option selected disabled>Выберите из списка</option>
                                    <option>XXS</option>
                                    <option>XS</option>
                                    <option>S</option>
                                    <option>M</option>
                                    <option>L</option>
                                    <option>XL</option>
                                    <option>XXL</option>
                                    <option>XXXL</option>
                                </select>
                                <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.33325 2.99984L1.99992 2.33317L3.99992 4.33317L5.99992 2.33317L6.66658 2.99984L3.99992 5.6665L1.33325 2.99984Z" fill="#25222C"/>
                                </svg>
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row">
                            <label>Размер брюк</label>
                            <div class="input-wrapper select-wrapper">
                                <select name="pants_size">
                                    <option selected disabled>Выберите из списка</option>
                                    <option>XXS</option>
                                    <option>XS</option>
                                    <option>S</option>
                                    <option>M</option>
                                    <option>L</option>
                                    <option>XL</option>
                                    <option>XXL</option>
                                    <option>XXXL</option>
                                </select>
                                <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.33325 2.99984L1.99992 2.33317L3.99992 4.33317L5.99992 2.33317L6.66658 2.99984L3.99992 5.6665L1.33325 2.99984Z" fill="#25222C"/>
                                </svg>
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row">
                            <label>Противопоказания по состоянию здоровья</label>
                            <div class="input-wrapper">
                                <input class="input" type="text" name="contraindications-for-health-reasons" placeholder="Введите данные">
                            </div>
                        </div>
                        <div class="partner-cabinet__students-form__row">
                            <label>Согласие на обработку персональных данных</label>
                            <div class="input-wrapper">
                                <div class="checkbox-wrapper">
                                    <input type="checkbox" id="agreement" name="agreement">
                                    <label for="agreement">Согласен</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn partner-cabinet__btn">Сохранить</button>
                    <div class="partner-cabinet__students-add__footer">
                        <p>
                            Если Вы хотите поехать вместе с друзьями, Вы можете создать группу и пригласить в неё друзей или присоединиться к группе, созданной Вашим другом. Мы не гарантируем, что сможем найти для Вас вакансии у одного работодателя, но сделаем всё возможное для этого
                        </p>
                        <div>
                            <span class="btn popup-btn" data-mfp-src="#create-group">Создать группу</span>
                            <span class="btn popup-btn" data-mfp-src="#join-group">Присоединиться к группе</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
${require('../parts/footer.html')}

<div class="overlay"></div>
<div class="mfp-hide">
    <div class="popup vacancy-order__popup students-add__popup" id="create-group">
        <button title="Close (Esc)" type="button" class="mfp-close">×</button>
        <div class="vacancy-order__popup-head">Создание группы</div>
        <div class="vacancy-order__popup-body">
            <p>Код Вашей группы <span>"код"</span>. Запишите его и сообщите своим друзьям, чтобы они смогли присоединиться к группе</p>
            <div class="vacancy-order__popup-footer">
                <a href="" class="students-add__popup-btn mfp-close">Ок</a>
            </div>
        </div>
    </div>
    <div class="popup vacancy-order__popup students-add__popup" id="join-group">
        <button title="Close (Esc)" type="button" class="mfp-close">×</button>
        <div class="vacancy-order__popup-head">Присоединиться к группе</div>
        <form class="vacancy-order__popup-body">
            <p>Введите код группы</p>
            <input type="text" class="input" placeholder="Ввести код">
            <div class="vacancy-order__popup-footer">
                <button type="submit" class="students-add__popup-btn">Ок</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>