<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>SIP</title>
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
    <meta name="theme-color" content="#5F6CFA">
    <meta name="msapplication-navbutton-color" content="#5F6CFA">
    <meta name="apple-mobile-web-app-status-bar-style" content="#5F6CFA">
</head>
<body>

${require('../parts/header.html')}
<main class="main">
    <div class="section txt-page__top">
        <div class="container">
            <div class="page-title">Privacy policy</div>
            <div class="companies-main__txt">
                <p>Ut nunc faucibus diam, pretium. Turpis feugiat euismod nibh purus accumsan, semper est.</p>
            </div>
        </div>
    </div>
    <div class="section txt-page__main">
        <div class="container">
            <div class="txt-page__wrap">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                <p>Amet sagittis quisque amet, nisl. Fringilla maecenas quam adipiscing convallis. Lorem cras malesuada in congue neque sit eu</p>
                <p>Pharetra aliquet pellentesque donec posuere sed. </p>
                <p>Tempus gravida neque turpis sed aliquet nunc, ut.</p>
                <p>Bibendum convallis ipsum sit urna elit urna, lectus ultricies rutrum. Nunc, rutrum vel sed fringilla nunc molestie tellus, parturient diam. Nunc metus, est at volutpat sagittis, adipiscing arcu arcu tellus. Aenean elementum diam amet, nunc, id ornare cum. Viverra netus facilisi nisl etiam blandit ut habitasse eu id. Morbi urna tellus, donec blandit et nulla volutpat, nibh. Viverra adipiscing turpis diam mauris. </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                <p>Amet sagittis quisque amet, nisl. Fringilla maecenas quam adipiscing convallis. Lorem cras malesuada in congue neque sit eu</p>
                <p>Pharetra aliquet pellentesque donec posuere sed. </p>
                <p>Tempus gravida neque turpis sed aliquet nunc, ut.</p>
                <p>Bibendum convallis ipsum sit urna elit urna, lectus ultricies rutrum. Nunc, rutrum vel sed fringilla nunc molestie tellus, parturient diam. Nunc metus, est at volutpat sagittis, adipiscing arcu arcu tellus. Aenean elementum diam amet, nunc, id ornare cum. Viverra netus facilisi nisl etiam blandit ut habitasse eu id. Morbi urna tellus, donec blandit et nulla volutpat, nibh. Viverra adipiscing turpis diam mauris. </p>
            </div>
        </div>
    </div>
</main>
${require('../parts/footer.html')}

<div class="overlay"></div>
<div class="mfp-hide"></div>

</body>
</html>