<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>SIP</title>
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
    <meta name="theme-color" content="#5F6CFA">
    <meta name="msapplication-navbutton-color" content="#5F6CFA">
    <meta name="apple-mobile-web-app-status-bar-style" content="#5F6CFA">
</head>
<body>

${require('../parts/header-logged-in-student.html')}
<main class="main">
    <div class="section student-cabinet__top">
        <div class="container">
            <div class="page-title">Личный кабинет студента</div>
            <nav class="partner-cabinet__navigation student-cabinet__navigation">
                <ul>
                    <li class="current">
                        <a href="javascript:void(0)">Мой профиль</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Предприятия</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Этапы оформления</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <ellipse cx="7.11834" cy="8.39983" rx="1.29412" ry="1.29241" fill="#5F6CFA"/>
                                <ellipse cx="10.9972" cy="8.39983" rx="1.29412" ry="1.29241" fill="#5F6CFA"/>
                                <ellipse cx="14.8801" cy="8.39983" rx="1.29412" ry="1.29241" fill="#5F6CFA"/>
                                <path d="M19.25 1.37319C19.6147 1.37319 20.2223 1.77538 20.2223 1.77538C20.4801 2.03291 20.625 2.38218 20.625 2.74637V13.7319C20.625 14.0961 20.4801 14.4453 20.2223 14.7029C19.9644 14.9604 19.6147 15.1051 19.25 15.1051H6.06925C5.33996 15.1052 4.6406 15.3947 4.125 15.9097L1.375 18.6561V2.74637C1.375 2.38218 1.51987 2.03291 1.77773 1.77538C2.03559 1.51786 2.38533 1.37319 2.75 1.37319H19.25ZM2.75 0C2.02065 0 1.32118 0.289349 0.805456 0.804394C0.289731 1.31944 0 2.01799 0 2.74637L0 20.3136C2.88955e-05 20.4494 0.0404148 20.5822 0.116046 20.6951C0.191678 20.8081 0.299155 20.896 0.424874 20.9479C0.550594 20.9998 0.688904 21.0133 0.8223 20.9867C0.955695 20.96 1.07818 20.8945 1.17425 20.7983L5.09713 16.8806C5.35493 16.623 5.70461 16.4783 6.06925 16.4782H19.25C19.9793 16.4782 20.6788 16.1889 21.1945 15.6738C21.7103 15.1588 22 14.4603 22 13.7319V2.74637C22 2.01799 21.7103 1.31944 21.1945 0.804394C20.6788 0.289349 19.9793 0 19.25 0L2.75 0Z" fill="#25222C"/>
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="section partner-cabinet__info">
        <div class="container">
            <span class="edit-btn__top popup-btn" data-mfp-src="#notification-popup">
                <svg width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.77625 2.91667C8.99675 2.69617 9.11808 2.40333 9.11808 2.09183C9.11808 1.78033 8.99675 1.4875 8.77625 1.267L7.85108 0.341833C7.63058 0.121333 7.33775 0 7.02625 0C6.71475 0 6.42192 0.121333 6.202 0.34125L0 6.524V9.09942H2.57425L8.77625 2.91667ZM7.02625 1.16667L7.952 2.09125L7.0245 3.01525L6.09933 2.09067L7.02625 1.16667ZM1.16667 7.93275V7.00817L5.27333 2.91433L6.1985 3.8395L2.09242 7.93275H1.16667ZM0 10.2661H9.33333V11.4327H0V10.2661Z" fill="#5F6CFA"/>
                </svg>
                Изменить данные
            </span>
            <div class="partner-cabinet__info-main">
                <form class="partner-cabinet__form">
                    <div class="form-section">
                        <div class="form-row">
                            <label>ФИО <span>(по-украински)</span></label>
                            <div class="input-wrapper">
                                <input type="text" name="full_name" value="Алексєєв Олексій Олексійовіч" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <label>Предыдущая фамилия</label>
                            <div class="input-wrapper">
                                <input type="text" name="last_name_previous" value="-" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <label>Предыдущее имя</label>
                            <div class="input-wrapper">
                                <input type="text" name="first_name_previous" value="-" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <label>Имя <span>(латиницей)</span></label>
                            <div class="input-wrapper">
                                <input type="text" name="first_name_latin" value="Oleksii" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <label>Фамилия <span>(латиницей)</span></label>
                            <div class="input-wrapper">
                                <input type="text" name="last_name_latin" value="Alekseiev" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <label>Дата рождения</label>
                            <div class="input-wrapper">
                                <input type="text" name="date_of_birth" value="01.01.2000" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <label>Место рождения студента (страна)</label>
                            <div class="input-wrapper">
                                <input type="text" name="country_of_birth" value="Украина" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <label>Место рождения студента (область, город)</label>
                            <div class="input-wrapper">
                                <input type="text" name="city_of_birth" value="Днепропетровск" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <label>Пол</label>
                            <div class="input-wrapper">
                                <input type="text" name="sex" value="мужской" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <label>Телефон</label>
                            <div class="input-wrapper">
                                <input type="text" name="phone" value="+38 (095) 123 45 67" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <label>Email</label>
                            <div class="input-wrapper">
                                <input type="text" name="email" value="gmail@gmail.com" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="form-section">
                        <div class="form-row">
                            <label>Учебное учреждение</label>
                            <div class="input-wrapper">
                                <input type="text" name="educational_establishment" value="Университет" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <label>Название учебного заведения</label>
                            <div class="input-wrapper">
                                <input type="text" name="educational_establishment_name" value="Харьковский институт имени Каразина" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <label>Сайт учебного заведения</label>
                            <div class="input-wrapper">
                                <input type="text" name="educational_establishment_site" value="www.gmailgmail.com" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <label>Факультет студента</label>
                            <div class="input-wrapper">
                                <input type="text" name="student_faculty" value="Факультет правоведения" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <label>Специальность студента</label>
                            <div class="input-wrapper">
                                <input type="text" name="student_speciality" value="Право и лево" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <label>Дата поступления</label>
                            <div class="input-wrapper">
                                <input type="text" name="admission_date" value="01.01.2020" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <label>Дата окончания</label>
                            <div class="input-wrapper">
                                <input type="text" name="graduation_date" value="-" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <label>Каникулы начинаются</label>
                            <div class="input-wrapper">
                                <input type="text" name="start_of_vacation" value="01.01.2020" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <label>Каникулы заканчиваются</label>
                            <div class="input-wrapper">
                                <input type="text" name="end_of_vacation" value="01.01.2020" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <label>Страна проживания</label>
                            <div class="input-wrapper">
                                <input type="text" name="country_of_residence" value="Украина" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <label>Город проживания</label>
                            <div class="input-wrapper">
                                <input type="text" name="city_of_residence" value="Харьков" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="form-section">
                        <div class="partner-cabinet__students-form__subtitle">Прописка</div>
                        <div class="form-row">
                            <label>Улица и номер дома, квартиры</label>
                            <div class="input-wrapper">
                                <input class="input" type="text" name="registration_address" value="ul. Primernaya, 1." disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <label>Город</label>
                            <div class="input-wrapper">
                                <input class="input" type="text" name="registration_address_city" value="Kharkiv" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <label>Индекс</label>
                            <div class="input-wrapper">
                                <input class="input" type="text" name="zip" value="61000" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <label>Район/Область</label>
                            <div class="input-wrapper">
                                <input class="input" type="text" name="region" value="Kharkiv obl." disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <label>Страна</label>
                            <div class="input-wrapper">
                                <input class="input" type="text" name="country" value="Ukraine" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="form-section">
                        <div class="form-row">
                            <label>Уровень немецкого языка</label>
                            <div class="input-wrapper">
                                <input class="input" type="text" name="german_level" value="Средний уровень (А2)" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <label>Уровень английского языка</label>
                            <div class="input-wrapper">
                                <input class="input" type="text" name="english_level" value="Уверенный уровень (Intermediate)" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <label>Другие языки</label>
                            <div class="input-wrapper">
                                <input class="input" type="text" name="another_languages" value="Польский - начинающий" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="form-section">
                        <div class="form-row">
                            <label>Водительское удостоверение</label>
                            <div class="input-wrapper">
                                <input class="input" type="text" name="driving_license" value="Нет прав" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="form-section">
                        <div class="form-row">
                            <label>Рост, см</label>
                            <div class="input-wrapper">
                                <input class="input" type="text" name="growth" value="180" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <label>Размер обуви</label>
                            <div class="input-wrapper">
                                <input class="input" type="text" name="shoe_size" value="43" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <label>Размер футболки</label>
                            <div class="input-wrapper">
                                <input class="input" type="text" name="tshirt_size" value="L" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <label>Размер брюк</label>
                            <div class="input-wrapper">
                                <input class="input" type="text" name="pants_size" value="M" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="form-section">
                        <div class="form-row">
                            <label>Противопоказания по состоянию здоровья</label>
                            <div class="input-wrapper">
                                <input class="input" type="text" name="contraindications_for_health_reasons" value="-" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="form-section">
                        <div class="form-row">
                            <label>Согласие на обработку персональных данных</label>
                            <div class="input-wrapper">
                                Есть
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
${require('../parts/footer.html')}

<div class="mfp-hide">
    <div class="popup notification-popup" id="notification-popup">
        <span class="notification-popup__title">Если Вы хотите изменить информацию, напишите об этом Вашему менеджеру</span>
        <a href="" class="btn student-cabinet__btn">Написать об изменениях</a>
    </div>
</div>

</body>
</html>