.company-cabinet__docs{
  padding: 40px 40px 55px;
}

.company-cabinet__contract{
  width: 740px;
  margin: 0 auto;
}

.company-cabinet__contract-title{
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: $black;
  display: block;
  margin-bottom: 25px;
}

.company-cabinet__contract-main{
  border: 1px solid rgba($blue-dark, 0.3);
  margin: 0 auto 70px;
  padding: 30px;
  border-radius: 5px;
  >span{
    display: block;
    text-align: center;
    margin: 0 auto 22px;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    color: $blue-dark;
  }
  >a{
    display: flex;
    align-items: center;
    padding: 12px 32px;
    text-align: center;
    width: 232px;
    height: 40px;
    border: 1px solid $red;
    border-radius: 5px;
    font-size: 12px;
    line-height: 17px;
    color: $red;
    margin: 0 auto 32px;
    text-decoration: none;
    &:hover{
      text-decoration: none;
      background-color: $red;
      color: #fff;
      svg{
        path{
          fill: #fff;
        }
      }
    }
    svg{
      min-width: 14px;
      margin-right: 10px;
      position: relative;
      path{
        fill: $red;
      }
    }
    span{
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.company-cabinet__contract-main__footer{
  display: flex;
  justify-content: center;
  gap: 55px;
  >div{
    text-align: center;
    span{
      display: block;
      font-size: 12px;
      line-height: 130%;
      margin-bottom: 10px;
    }
    p{
      font-size: 14px;
      line-height: 130%;
      margin-bottom: 0;
    }
  }
}

.company-cabinet__contract-subtitle{
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  display: block;
  margin-bottom: 25px;
}

.company-cabinet__contract-additional{
  border: 1px solid rgba($blue-dark, 0.3);
  margin: 0 auto;
  padding: 30px 30px 40px;
  border-radius: 5px;
  >span{
    display: block;
    text-align: center;
    margin: 0 auto 22px;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
  }
  >a{
    display: flex;
    align-items: center;
    padding: 12px 32px;
    text-align: center;
    width: 232px;
    height: 40px;
    border: 1px solid $red;
    border-radius: 5px;
    font-size: 12px;
    line-height: 17px;
    color: $red;
    margin: 0 auto 10px;
    text-decoration: none;
    &:hover{
      text-decoration: none;
      background-color: $red;
      color: #fff;
      svg{
        path{
          fill: #fff;
        }
      }
    }
    svg{
      min-width: 14px;
      margin-right: 10px;
      position: relative;
      path{
        fill: $red;
      }
    }
    span{
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
