.company-cabinet__vacancies-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 12px;
}

.partner-cabinet__students-top__right {
  display: flex;
  align-items: center;
}

.company-cabinet__vacancies-table__head {
  display: flex;
  background: #8B8A8E;
  border-radius: 5px 5px 0 0;
  min-height: 40px;
  .dropdown-wrapper {
    .dropdown {
      svg {
        path {
          fill: #fff;
        }
      }
    }
    &.active {
      .dropdown {
        color: $red;
        svg {
          transform: scale(1, -1);
          path {
            fill: $red;
          }
        }
      }
    }
  }
  > div {
    position: relative;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    color: #fff;
    &.vacancy_num {
      width: 92px;
    }
    &.vacancy_name {
      width: 160px;
    }
    &.period {
      width: 156px;
      >span{
        //text-align: center;
        padding-bottom: 1px;
      }
      .dropdown{
        padding: 0 10px;
      }
    }
    &.status {
      width: 138px;
    }
    &.employees_needed {
      width: 145px;
      span{
        padding-right: 0;
      }
    }
    &.employees_found {
      width: 166px;
    }
    &.free_places {
      width: 200px;
    }
    > span {
      display: block;
      padding: 4px 10px;
    }
    .dropdowns {
      display: flex;
      .dropdown {
      }
      &.two-cols {
        .dropdown-wrapper {
          width: 50%;
        }
      }
    }
    .dropdown {
      display: flex;
      cursor: pointer;
      word-break: break-word;
      svg {
        min-width: 8px;
        margin-left: 5px;
        margin-top: 3px;
      }
    }
  }
}

.company-cabinet__vacancies-table__body {
  border-radius: 0 0 5px 5px;
  border: 1px solid rgba($blue-dark, 0.1);
  overflow: hidden;
  background-color: #fff;
  .company-cabinet__vacancies-table__row {
    display: flex;
    min-height: 40px;
    &:nth-child(even) {
      background: #F4F4F4;
    }
    > div {
      padding: 12px 10px;
      font-size: 11px;
      line-height: 130%;
      display: flex;
      align-items: center;
      a {
        text-decoration: none;
        color: $red;
        &:hover {
          color: $red-dark;
          text-decoration: underline;
        }
      }
      &.vacancy_num {
        width: 92px;
        a {
          text-decoration: underline;
          color: $blue-dark;
          &:hover {
            color: $red;
            text-decoration: none;
          }
        }
      }
      &.vacancy_name {
        width: 160px;
      }
      &.period {
        width: 156px;
        //text-align: center;
      }
      &.status {
        width: 138px;
      }
      &.employees_needed {
        width: 145px;
      }
      &.employees_found {
        width: 166px;
      }
      &.free_places {
        width: 200px;
        >span{
          min-width: 33px;
        }
      }
      &.two-cols {
        > div {
          width: 50%;
        }
      }
    }
  }
}

.partner-cabinet__vacancies-add{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 480px;
  height: 40px;
  border: 1px solid rgba($accent, 0.5);
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  font-family: $title;
  color: $black;
  margin-top: 15px;
  &:hover{
    color: $black;
    text-decoration: none;
    background-color: rgba($accent, 0.2);
  }
  svg{
    margin-right: 20px;
  }
}

.company-cabinet__vacancy{
  width: 605px;
  margin: 0;
  .partner-cabinet__students-form__row{
    > label{
      width: calc(100% - 315px);
    }
    > .input-wrapper{
      width: 315px;
    }
  }
}

.company-cabinet__vacancy-form__footer{
  display: flex;
  .btn{
    width: 227px;
    &.btn-back{
      position: relative;
      background: transparent;
      margin-right: 58px;
      border-color: $red;
      color: $blue-dark;
      span{
        display: flex;
        align-items: center;
        justify-content: center;
        svg{
          position: relative;
          bottom: -1px;
          margin-right: 12px;
        }
      }
      &:hover{
        color: #fff;
        background: $red;
        span{
          svg{
            path{
              fill: #fff;
            }
          }
        }
      }
    }
  }
  &.company-cabinet__vacancy-form__upload-footer{
    width: 100%;
    gap: 44px;
    margin-top: -10px;
    .btn{
      margin: 0;
      width: calc(50% - 22px);
    }
  }
}

.company-cabinet__vacancy-form__upload{
  margin-top: 50px;
  width: 100%;
  >span{
    display: block;
    font-size: 11px;
    line-height: 130%;
    margin-bottom: 28px;
  }
  .input-file{
    > label{
      justify-content: center;
      padding: 5px 30px;
    }
  }
}

.company-cabinet__alert__wrapper{
  position: relative;
  z-index: 6;
  display: none;
  margin-bottom: 55px;
}

.company-cabinet__alert{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgba($blue-dark, .1);
  height: 40px;
  font-size: 11px;
  line-height: 15px;
  color: $red;
  margin-bottom: 15px;
  svg{
    margin-right: 15px;
    path{
      fill: $red;
    }
  }
}
