

.partner-cabinet__doc {
  margin-bottom: 70px;
  margin-top: 12px;
  &:last-child {
    margin-bottom: 0;
    margin-top: 0;
    & a {
      margin-bottom: 10px;
    }
    & .partner-cabinet__doc-wrapper{
      padding-bottom: 38px;
    }
  }
}

.partner-cabinet__doc-title {
  display: block;
  margin-bottom: 25px;
  font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: $blue-dark;
}

.partner-cabinet__doc-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  border: 1px solid rgba($text, 0.3);
  border-radius: 5px;
  
  & p {
    margin: 0;
    margin-bottom: 23px;
    font-weight: 600;
      font-size: 14px;
      line-height: 130%;
      text-align: center;
      color: $blue-dark;
  }
  & a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 232px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 33px;
    padding: 10px;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid rgba($red, 0.5);
    text-decoration: none;
    transition: border linear 0.2s;
      overflow: hidden;
    &:hover {
      border: 1px solid $red;
    }
    & svg {
      flex-shrink: 0;
    }
    & span {
      margin-left: 12px;
      font-weight: 400;
        font-size: 12px;
        line-height: 130%;
        color: $blue-dark;
        white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
    }
  }
}

.partner-cabinet__doc-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 355px;
  margin: 0 auto;
  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    & b {
      margin-bottom: 10px;
      font-weight: 400;
        font-size: 12px;
        line-height: 130%;
        color: $blue-dark;
    }
    & span {
      font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        color: $blue-dark;
    }
  }
}
