.mfp-zoom-in {
  & .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
  }

  &.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
  }

  &.mfp-ready {
    & .mfp-with-anim {
      opacity: 1;
      transform: scale(1);
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }
  &.mfp-removing {
    & .mfp-with-anim {
      transform: scale(0.8);
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
  }
}

// popup "Связаться с нами" - удачная отправка

.swal2-container.swal2-shown {
  background-color: rgba(#fff, 0.25);
  .swal2-modal.swal2-show {
    position: relative;
    background: $pink !important;
    max-width: 444px;
    padding: 48px 58px !important;
    border-radius: 5px;
    & .swal2-title {
      font-family: $title;
      font-size: 21px;
      line-height: 26px;
      font-weight: 600;
      color: #ffffff;
      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 20px;
      }
    }
    & .swal2-buttonswrapper {
      position: absolute;
      right: 23px;
      top: 17px;
      margin: 0;
      .swal2-confirm.swal2-styled {
        display: block;
        width: 12px !important;
        height: 12px;
        background-color: transparent !important;
        font-size: 0;
      }
    }
  }
}

.swal2-modal .swal2-styled {
  position: relative;
  margin: 0;
  padding: 0;
  outline: none !important;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 2px;
    height: 12px;
    transform: rotate(45deg);
    background-color: #fff;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 2px;
    height: 12px;
    transform: rotate(-45deg);
    background-color: #fff;
  }
}

.vacancy-order__popup{
  background: #fff;
  box-shadow: 0 4px 10px rgba(95, 108, 250, 0.2);
  border-radius: 5px;
  width: 540px;
  position: relative;
  margin: 0 auto;
  .mfp-close {
    margin-top: 0;
    margin-right: 0;
    color: $text;
    opacity: 1;
  }
}

.vacancy-order__popup-head{
  border-bottom: 1px solid rgba($text, .1);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  font-family: $title;
  color: $black;
}

.vacancy-order__popup-body{
  padding: 48px 42px 56px;
  p{
    text-align: center;
    width: 410px;
    margin: 0 auto 32px;
    font-size: 14px;
    line-height: 130%;
    color: $black;
  }
}

.vacancy-order__popup-footer{
  display: flex;
  justify-content: space-between;
}

.vacancy-order__popup-cancel{
  width: 155px;
  height: 50px;
  border: 1px solid $black;
  border-radius: 30px;
  transition: linear .2s;
  text-decoration: none;
  font-size: 14px;
  line-height: 19px;
  color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  position: static;
  padding: 0;
  &:hover{
    text-decoration: none;
    background-color: $black;
    color: #75D7D6;
  }
}

.vacancy-order__popup-submit{
  width: calc(100% - 161px);
  height: 50px;
  border: 1px solid $black;
  border-radius: 30px;
  transition: linear .2s;
  text-decoration: none;
  font-size: 14px;
  line-height: 19px;
  color: #75D7D6;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  &:hover{
    text-decoration: none;
    background-color: #fff;
    color: $black;
  }
}

.notification-popup{
  position: relative;
  margin: 0 auto;
  width: 540px;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
  box-shadow: 0 4px 10px rgba(95, 108, 250, 0.2);
  border-radius: 5px;
  padding: 50px 30px 40px;
  .mfp-close {
    margin-top: 0;
    margin-right: 0;
    color: $text;
    opacity: 1;
  }
  .btn{
    width: 228px;
    margin: 0 auto;
  }
}

.notification-popup__title{
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 20px;
}