.mfp-zoom-in {
  & .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
  }

  &.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
  }

  &.mfp-ready {
    & .mfp-with-anim {
      opacity: 1;
      transform: scale(1);
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }
  &.mfp-removing {
    & .mfp-with-anim {
      transform: scale(0.8);
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
  }
}

.mfp-bg {
  background-color: rgba(#fff, 0.6);
}

// popup "Связаться с нами" - удачная отправка

.swal2-container.swal2-shown {
  background-color: rgba(#fff, 0.25);
  .swal2-modal.swal2-show {
    position: relative;
    background: $pink !important;
    max-width: 444px;
    padding: 48px 58px !important;
    border-radius: 5px;
    & .swal2-title {
      font-family: $title;
      font-size: 21px;
      line-height: 26px;
      font-weight: 600;
      color: #ffffff;
      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 20px;
      }
    }
    & .swal2-buttonswrapper {
      position: absolute;
      right: 23px;
      top: 17px;
      margin: 0;
      .swal2-confirm.swal2-styled {
        display: block;
        width: 12px !important;
        height: 12px;
        background-color: transparent !important;
        font-size: 0;
      }
    }
  }
}

.swal2-modal .swal2-styled {
  position: relative;
  margin: 0;
  padding: 0;
  outline: none !important;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 2px;
    height: 12px;
    transform: rotate(45deg);
    background-color: #fff;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 2px;
    height: 12px;
    transform: rotate(-45deg);
    background-color: #fff;
  }
}

.vacancy-order__popup{
  background: #fff;
  box-shadow: 0 4px 10px rgba(95, 108, 250, 0.2);
  border-radius: 5px;
  width: 540px;
  position: relative;
  margin: 0 auto;
  .mfp-close {
    margin-top: 0;
    margin-right: 0;
    color: $blue-dark;
    opacity: 1;
  }
}

.vacancy-order__popup-head{
  border-bottom: 1px solid rgba($blue-dark, .1);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  font-family: $title;
  color: $blue-dark;
}

.vacancy-order__popup-body{
  padding: 48px 42px 56px;
  p{
    text-align: center;
    width: 410px;
    margin: 0 auto 32px;
    font-size: 14px;
    line-height: 130%;
    color: $blue-dark;
  }
}

.vacancy-order__popup-footer{
  display: flex;
  justify-content: space-between;
}

.vacancy-order__popup-cancel{
  width: 155px;
  height: 50px;
  border: 1px solid $blue-dark;
  border-radius: 30px;
  transition: linear .2s;
  text-decoration: none;
  font-size: 14px;
  line-height: 19px;
  color: $blue-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  position: static;
  padding: 0;
  &:hover{
    text-decoration: none;
    background-color: $blue-dark;
    color: #75D7D6;
  }
}

.vacancy-order__popup-submit{
  width: calc(100% - 161px);
  height: 50px;
  border: 1px solid $blue-dark;
  border-radius: 30px;
  transition: linear .2s;
  text-decoration: none;
  font-size: 14px;
  line-height: 19px;
  color: #75D7D6;
  background-color: $blue-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  &:hover{
    text-decoration: none;
    background-color: #fff;
    color: $blue-dark;
  }
}

.students-add__popup{
  min-height: 360px;
  .vacancy-order__popup-body{
    p{
      font-weight: 600;
      font-size: 12px;
      line-height: 130%;
      font-family: $title;
      color: $blue-dark;
      width: 320px;
      margin: 0 auto 30px;
      span{
        color: $purple;
      }
    }
  }
  .input{
    display: block;
    width: 360px;
    margin: 0 auto 20px;
    border-color: rgba($blue-dark, .2);
    &::placeholder{
      color: $blue-dark;
    }
    &:focus{
      &::placeholder{
        color: transparent;
      }
    }
  }
}

.students-add__popup-btn{
  width: 220px;
  height: 50px;
  border: 1px solid $blue-dark;
  border-radius: 30px;
  transition: linear .2s;
  text-decoration: none;
  font-size: 14px;
  line-height: 19px;
  color: #75D7D6;
  background-color: $blue-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: static;
  padding: 0;
  margin: 0 auto;
  &.mfp-close{
    color: #75D7D6;
    margin: 0 auto;
  }
  &:hover{
    text-decoration: none;
    background-color: #fff;
    color: $blue-dark;
  }
}

.student-edit__popup{
  position: relative;
  margin: 0 auto;
  width: 540px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(10, 28, 39, 0.15);
  border-radius: 5px;
  padding: 50px 30px 40px;
  .mfp-close {
    margin-top: 0;
    margin-right: 0;
    color: $blue-dark;
    opacity: 1;
  }
  .btn{
    width: 228px;
    background: $red;
    color: #fff;
    margin: 0 auto;
    &:hover{
      background: $red-dark;
      color: #fff;
    }
  }
}

.student-edit__popup-title{
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 20px;
}

.notification-popup{
  position: relative;
  margin: 0 auto;
  width: 540px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(95, 108, 250, 0.2);
  border-radius: 5px;
  .mfp-close {
    margin-top: 0;
    margin-right: 0;
    color: $blue-dark;
    opacity: 1;
    &.notification-popup__btn{
      position: static;
      padding: 0;
      color: #75D7D6;
      margin: 30px auto 0;
      &:hover{
        color: $blue-dark;
      }
    }
  }
}

.notification-popup__head{
  border-bottom: 1px solid rgba($blue-dark, .1);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  font-family: $title;
  color: $blue-dark;
}

.notification-popup__body{
  padding: 48px 40px;
  min-height: 245px;
  p{
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
    line-height: 130%;
    color: $blue-dark;
    strong{
      font-weight: 600;
    }
  }
}

.notification-popup__btn{
  cursor: pointer;
  width: 292px;
  margin: 30px auto 0;
  height: 50px;
  border: 1px solid $blue-dark;
  border-radius: 30px;
  transition: linear .2s;
  text-decoration: none;
  font-size: 14px;
  line-height: 19px;
  color: #75D7D6;
  background-color: $blue-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  &:hover{
    text-decoration: none;
    background-color: #fff;
    color: $blue-dark;
  }
}

.student-group__popup{
  background: #fff;
  box-shadow: 0 4px 10px rgba(10, 28, 39, 0.15);
  border-radius: 5px;
  width: 540px;
  position: relative;
  margin: 0 auto;
  .mfp-close {
    margin-top: 0;
    margin-right: 0;
    color: $blue-dark;
    opacity: 1;
    &.student-group__popup-cancel{
      color: $blue-dark;
      margin-right: auto;
      margin-left: auto;
      &:hover{
        color: #fff;
      }
    }
  }
}

.student-group__popup-head{
  border-bottom: 1px solid rgba($blue-dark, .1);
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: $blue-dark;
}

.student-group__popup-body{
  padding: 25px 38px 40px;
  p{
    margin-bottom: 0;
    font-size: 12px;
    line-height: 130%;
    color: $blue-dark;
  }
}

.student-group__popup-footer{
  display: flex;
  margin-top: 26px;
}

.student-group__popup-cancel{
  width: 227px;
  height: 50px;
  border: 1px solid $red;
  border-radius: 5px;
  transition: linear .2s;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $blue-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  position: static;
  padding: 0;
  margin: 0 auto;
  &:hover{
    text-decoration: none;
    background-color: $red;
    color: #fff;
  }
}

.new-password__body{
  padding: 40px 90px 90px;
}

.new-password__form{
  width: 100%;
  .notification-popup__btn{
    width: 215px;
    margin: 20px 0 0;
  }
  .prompt{
    > p{
      text-align: left;
    }
  }
  .input-wrapper{
    &.error{
      .input{
        +label{
          &.error{
            position: absolute;
            height: 33px;
            width: calc(100% - 2px);
            border-radius: 5px;
            display: flex;
            align-items: center;
            left: 1px;
            top: 1px;
            padding-left: 14px;
            background-color: #fff;
            pointer-events: none;
          }
        }
      }
    }
  }
}

.group-popup{
  background: #fff;
  box-shadow: 0 4px 10px rgba(95, 108, 250, 0.2);
  border-radius: 5px;
  width: 438px;
  position: relative;
  margin: 0 auto;
  .mfp-close {
    margin-top: 0;
    margin-right: 0;
    color: $blue-dark;
    opacity: 1;
  }
}

.group-popup__head{
  border-bottom: 1px solid rgba($blue-dark, .1);
  height: 56px;
  padding: 0 30px;
  display: flex;
  align-items: center;
}

.group-popup__checkbox{
  input{
    display: none;
    &:checked{
      +label{
        >div{
          border-color: $accent;
          svg {
            display: block;
          }
        }
      }
    }
    +label{
      display: flex;
      align-items: center;
      cursor: pointer;
      font-size: 12px;
      line-height: 130%;
      color: rgba($blue-dark, 0.5);
      margin-bottom: 0;
      font-weight: 400;
      >div{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 15px;
        height: 15px;
        border-radius: 2px;
        border: 1px solid rgba($blue-dark, 0.5);
        margin-right: 8px;
        svg {
          display: none;
        }
      }
    }
  }
}

.group-popup__body{
  padding: 24px 30px;
  height: 228px;
  overflow: auto;
  &::-webkit-scrollbar {
    overflow-y: scroll;
    background: transparent;
    width: 4px;
    transition: linear 0.2s;
  }
  &::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 0;
    width: 4px;
    transition: linear 0.2s;
    cursor: grab;
  }
  ul{
    li{
      margin-bottom: 10px;
      &.group-popup__checkbox{
        input{
          +label{
            color: $blue-dark;
          }
        }
      }
    }
  }
}

// popup ====================

.form-popup {
  position: relative;
  width: auto;
  max-width: 540px;
  margin: 0 auto;
  padding: 0;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(95, 108, 250, 0.2);

  @media (max-width: 575px) {
    margin-right: 15px;
    margin-left: 15px;
    // max-width: 300px;
  }

  &__inner {
    padding-top: 38px;
    padding-right: 90px;
    padding-bottom: 53px;
    padding-left: 90px;

    @media (max-width: 575px) {
      // max-width: 300px;
      padding-right: 20px;
      padding-bottom: 40px;
      padding-left: 20px;
    }
  }

  & .mfp-close {
    margin-top: 0;
    margin-right: 0;
    color: $blue-dark;
    opacity: 1;

    & svg {
      position: relative;
      z-index: -1;
    }
  }

  &__title {
    position: relative;
    padding: 17px 0;
    border-bottom: 1px solid rgba($blue-dark, 0.1);

    & h3 {
      margin: 0;
      font-family: $title;
      font-size: 21px;
      line-height: 26px;
      font-weight: 600;
      text-align: center;
      color: $blue-dark;

      @media (max-width: 575px) {
        font-size: 18px;
        line-height: 22px;
      }
    }

    & a {
      position: absolute;
      top: 23px;
      left: 23px;
      display: flex;
      align-items: center;

      font-family: $title;
      font-size: 11px;
      line-height: 15px;
      color: $blue-dark;
      text-decoration: none;

      &:hover {
        opacity: 0.7;
      }

      &::before {
        content: "";
        display: block;
        margin-top: 2px;
        margin-right: 5px;
        width: 8px;
        height: 8px;
        background-image: url("../images/icons/arrow-left.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }

  & .input-wrapper {
    & input {
      width: 100%;
      height: 35px;
      margin-bottom: 15px;
      font-family: $title;
      font-size: 12px;
      line-height: 16px;
      height: 35px;
      border-radius: 5px;
      border: 1px solid rgba($blue-dark, 0.2);
      color: $blue-dark;

      @media (max-width: 575px) {
        height: 40px;
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 16px;
      }
      &:focus {
        border: 1px solid $blue-dark;
      }

      &::-webkit-input-placeholder {
        color: $blue-dark;
      }

      &::-moz-placeholder {
        color: $blue-dark;
      }

      &:-ms-input-placeholder {
        color: $blue-dark;
      }

      &:-moz-placeholder {
        color: $blue-dark;
      }

      &:focus {
        &::-webkit-input-placeholder {
          color: transparent;
        }

        &::-moz-placeholder {
          color: transparent;
        }

        &:-ms-input-placeholder {
          color: transparent;
        }

        &:-moz-placeholder {
          color: transparent;
        }
      }
    }

    &:last-child input {
      margin-bottom: 13px;
    }
  }

  &__text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;

    & a,
    & span {
      font-family: $title;
      font-size: 12px;
      line-height: 15px;
      color: rgba($blue-dark, 0.8);
    }

    & a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }

        & span:first-child {
          margin-right: 30px;
        }

    & span:last-child {
      flex-shrink: 0;
    }
  }

  & .input-wrapper .validate-error {
    z-index: 1;
    padding-right: 10px;
    bottom: 25px;
    pointer-events: none;
      @media (max-width: 574px) {
        bottom: 24px;
      }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 132px;
    height: 50px;
    padding: 0 10px;
    font-family: $title;
    font-size: 14px;
      line-height: 17px;
    text-decoration: none;
    text-align: center;
    color: #fff;
   border: 1px solid $red;
    background-color: $red;
      border-radius: 5px;
    transition: 0.3s;
    @media (max-width: 574px) {
      height: 40px;
    }


    &:hover {
      background-color: transparent;
      color: $red;
    }
  }

  &__register-as {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $blue-dark;

    &__yellow {
      display: none;
      border-color: $blue-dark;
    }

    @media (max-width: 575px) {
      margin-bottom: 10px;
    }

    &>label {
      font-family: $title;
      font-size: 12px;
      line-height: 15px;
      font-weight: 600;
      color: $blue-dark;
    }

    &-wrap {
      display: flex;
      flex-wrap: wrap;
    }

    &-inner {
      margin-right: 35px;
      @media (max-width: 574px) {
       width: 100%; 
        margin-right: 0;
      }

      & input {
        display: none;
      }

      & label {
        position: relative;
        padding-left: 17px;
        font-family: $title;
        font-size: 12px;
        line-height: 15px;
        font-weight: 400;
        color: $blue-dark;
        cursor: pointer;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          width: 10px;
          height: 10px;
          margin-top: 2px;
          border-radius: 50%;
          border: 1px solid $red;
          background-color: transparent;
        }
      }

      & input:checked {
        &+label {
          &::before {
            border: 1px solid $red;
          }

          &::after {
            content: "";
            position: absolute;
            left: 2px;
            top: 4px;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $red;
          }
        }
      }

      &__yellow {
        label {
          &::before {
            border-color: $red;
          }
        }

        input:checked {
          &+label {
            &::before {
              border-color: $red;
            }

            &::after {
              content: "";
              background-color: $red;
            }
          }
        }
      }
    }
  }

  &.registration-popup {
    & .form-popup__inner {
      @media (max-width: 575px) {
        padding-right: 30px;
      }
    }

    & .form-popup__btn {
      padding-left: 45px;
      padding-right: 45px;
    }

    & .form-popup__wrap {
      display: flex;
      justify-content: space-between;
      gap: 15px;

      @media (max-width: 575px) {
        gap: 5px;
      }

      &>.input-wrapper {
        @media (max-width: 575px) {
          width: 100%;
        }
      }

      &>.input-wrapper .input {
        width: 100%;
        @media (max-width: 575px) {
            margin-bottom: 5px;
            padding: 0 10px;
          }
          @media (max-width: 359px) {
                font-size: 11px;
          }
      }
    }
  }

  & .prompt {
    position: relative;

    &>p {
      display: none;
      position: absolute;
      max-width: 258px;
      right: -272px;
      top: 35px;
      z-index: 1000;
      margin: 0;
      padding-top: 21px;
      padding-right: 20px;
      padding-bottom: 29px;
      padding-left: 16px;
      font-family: $title;
      font-size: 10px;
      line-height: 13px;
      font-weight: 500;
      color: $blue-dark;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0 4px 10px rgba(95, 108, 250, 0.2);

      @media (max-width: 991px) {
        right: -28px;
        top: -86px;
      }
    }

    &>span {
      position: absolute;
      right: -30px;
      top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 16px;
      height: 16px;
      font-size: 12px;
      line-height: 8px;
      font-weight: 600;
      color: rgba($blue-dark, 0.8);
      border: 1px solid rgba($blue-dark, 0.8);
      border-radius: 3px;

      @media (max-width: 575px) {
        top: 15px;
        right: -18px;
        width: 11px;
          height: 11px;
          font-size: 8px;
          line-height: 10px;
      }

      &:hover {
        border: 1px solid rgba($blue-dark, 1);
        color: rgba($blue-dark, 1);
        cursor: default;
      }

      &:hover+p {
        display: block;
      }
    }
  }
}

.login-popup {
  & .mfp-close {
    width: 60px;
    height: 60px;
    & svg {
      @media (max-width: 574px) {
        position: relative;
        top: -14px;
        left: 8px;
       width: 9px;
       height: 9px;
      }
    }
  }
}

.registration-popup {
  & .input-wrapper .validate-error {
      bottom: 21px;
      @media (max-width: 574px) {
        bottom: 17px;
      }
    }
  & .mfp-close {
    width: 60px;
    height: 60px;
    & svg {
      @media (max-width: 574px) {
        position: relative;
        top: -14px;
        left: 8px;
        width: 9px;
        height: 9px;
      }
    }
  }
  & .form-popup__title {
    @media (max-width: 574px) {
      padding-top: 30px;
      padding-bottom: 10px;
    }
    & > a {
      display: flex;
      align-items: center;
      font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        font-style: normal;
        @media (max-width: 574px) {
        top: 12px;
        }
      &::before {
        display: none;
      }
      & span {
        margin-left: 8px;
        font-style: normal;
      }
      & i {
        display: flex;
        justify-content: center;
        align-items: center;
        & svg {
          margin-bottom: 1px;
        }
      }
    }
  }
  & .form-popup__text {
    & a {
      margin-left: 5px;
    }
  }

  & .form-popup__inner {
    padding-top: 22px;
  }

  & .form-popup__register-as {
    margin-bottom: 11px;
    padding-top: 5px;
      padding-bottom: 5px;
      @media (max-width: 574px) {
        margin-bottom: 5px;
        padding-top: 8px;
          padding-bottom: 8px;
      }
      &:not(.form-popup__register-as__yellow) {
        margin-bottom: 20px;
        @media (max-width: 574px) {
          margin-bottom: 15px;
        }
      }
  }

  &  .input-wrapper input {
        margin-bottom: 11px;
        @media (max-width: 574px) {
            margin-bottom: 5px;
          }
  }

   & .form-popup__text {
      margin-bottom: 25px;
    }
  
}

.password-popup {
  & .mfp-close {
    @media (max-width: 574px) {
      top: -10px;
    }
    
  }
  @media (max-width: 574px) {
    
  }
  &  .form-popup__inner {
      @media (max-width: 574px) {
        padding-right: 35px;
      }
    }

    & .form-popup__btn {
      margin-top: 20px;
      width: 215px; 
    }
 
& .input-wrapper.error .input:focus + label.error {
  display: none !important;
}
& .input-wrapper.error .input + label#xnew_password-error {
  display: none !important;
}

& .input-wrapper.error .input {
  overflow: hidden;
}

& .input-wrapper.confirm {
  position: relative;
  & label.error {
    position: absolute;
    top: 7px;
      left: 14px;
    pointer-events: none;
    color: $red;
  }
}
}

.password-popup .input-wrapper.confirm label.error {
  @media (max-width: 574px) {
    font-size: 9px;
  }

  .input-wrapper.error .input {
    border-color: $red;
  }

}




