.refugees-cabinet__docs{
  width: 436px;
  li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    a{
      display: flex;
      font-weight: 400;
      font-size: 12px;
      line-height: 130%;
      color: $blue-dark;
      text-decoration: none;
      &:hover{
        color: $red;
        text-decoration: none;
      }
    }
    i{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $red;
      cursor: pointer;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      &:hover{
        background-color: $red-accent;
      }
    }
  }
}
