.refugees-cabinet__info-chats{
  padding: 15px 15px 50px;
}

.refugees-cabinet__chats{
  display: flex;
  justify-content: space-between;
}

.refugees-cabinet__chats-list{
  width: 250px;
  border: 1px solid rgba($blue-dark, 0.1);
  border-radius: 5px;
  padding: 16px 15px;
  &::-webkit-scrollbar {
    overflow-y: scroll;
    background: transparent;
    width: 4px;
    transition: linear .2s;
  }
  &::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 0;
    width: 4px;
    transition: linear .2s;
    cursor: grab;
  }
  ul{
    li{
      border-radius: 5px;
      align-items: center;
      height: 40px;
      font-weight: 500;
      font-size: 12px;
      line-height: 130%;
      font-family: $title;
      color: $black;
      padding: 11px 10px;
      border: 1px solid rgba($blue-dark, 0.1);
      cursor: pointer;
      margin-bottom: 10px;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &.active{
        background: $red;
        border-color: $red;
        color: #fff;
      }
    }
  }
}

.refugees-cabinet__chats-main{
  width: calc(100% - 260px);
  border-radius: 5px;
  border: 1px solid rgba($blue-dark, 0.1);
  .tabs-content{
    display: none;
    &.active{
      display: block;
    }
  }
}

.refugees-cabinet__chats-main__head{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  font-family: $title;
  color: $black;
  height: 56px;
  border-bottom: 1px solid rgba($blue-dark, 0.1);
  padding: 10px 15px;
}

.refugees-cabinet__chats-main__body{
  height: 440px;
  padding: 16px;
  font-size: 12px;
  line-height: 130%;
}
