.section-review{
  font-family: $title;
  color: $blue-dark;
  padding: 130px 0;
  .section-title{
    text-align: left;
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
  }
}

.review-form{
  .btn{
    margin-top: 70px;
    color: #fff;
    background-color: $red;
    border-color: $red;
    width: 230px;
    &:hover{
      background-color: $red-dark;
      border-color: $red-dark;
    }
  }
}

.review-block{
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 30px 190px 30px 95px;
  border: 1px solid rgba($text, .3);
}

.review-links{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -10px;
  li{
    width: 50%;
    display: flex;
    margin-bottom: 10px;
    >span{
      width: 110px;
      min-width: 110px;
      padding-left: 10px;
      font-size: 12px;
      line-height: 130%;

    }
    >a{
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      color: $red-dark2;
      text-decoration: underline;
      width: calc(100% - 110px);
      &:hover{
        color: $red-dark;
        text-decoration: none;
      }
    }
  }
}

.review-block__title{
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 5px;
}

.review-block__descr{
  display: block;
  font-size: 14px;
  line-height: 130%;
}

.review-block__rating-wrapper{
  margin-top: 28px;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  .rating-wrapper{
    width: 50%;
    display: flex;
    margin-bottom: 10px;
    >span{
      font-size: 11px;
      line-height: 130%;
      width: 234px;
      min-width: 234px;
      padding-right: 8px;
    }
  }
  .rating > label:before{
    background-color: $red;
  }
}

.review-block__alert{
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: $purple;
  margin-bottom: 14px;
}

.review-block__textarea{
  border: 1px solid rgba($gray, 0.3);
  border-radius: 5px;
  width: 100%;
  height: 154px;
  padding: 20px;
  resize: none;
  font-size: 12px;
  line-height: 130%;
  color: $gray;
  &::placeholder{
    color: rgba($gray, 0.3);
  }
  &:focus{
    &::placeholder{
      color: transparent;
    }
  }
}

.review-block__radio-wrapper{
  display: flex;
  margin-top: 22px;
  margin-bottom: 26px;
  gap: 60px;
  .radio-wrapper{
    input{
      display: none;
      +label{
        font-weight: 400;
        margin-bottom: 0;
        cursor: pointer;
        font-size: 11px;
        line-height: 130%;
        position: relative;
        padding-left: 20px;
        &:before{
          position: absolute;
          content: '';
          width: 10px;
          height: 10px;
          left: 0;
          top: 2px;
          border: 1px solid $red;
          border-radius: 50%;
        }
        &:after{
          position: absolute;
          content: '';
          width: 6px;
          height: 6px;
          left: 2px;
          top: 4px;
          background-color: $red;
          border-radius: 50%;
          display: none;
        }
      }
      &:checked{
        +label{
          &:after{
            display: block;
          }
        }
      }
    }
  }
}

.review-success__popup{
  background: #fff;
  box-shadow: 0 4px 10px rgba(95, 108, 250, 0.2);
  border-radius: 5px;
  width: 540px;
  position: relative;
  margin: 0 auto;
  font-family: $title;
  .mfp-close {
    margin-top: 0;
    margin-right: 0;
    color: $text;
    opacity: 1;
  }
}

.review-success__popup-head{
  border-bottom: 1px solid rgba($text, .1);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  color: $blue-dark;
}

.review-success__popup-body{
  padding: 48px 42px 56px;
  p{
    text-align: center;
    width: 410px;
    margin: 0 auto 32px;
    font-size: 14px;
    line-height: 130%;
    color: $blue-dark;
  }
}

.review-success__popup-footer{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.review-success__popup-btn{
  width: 293px;
  height: 50px;
  border-radius: 5px;
  transition: linear .2s;
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #fff !important;
  background-color: $red;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  position: static;
  padding: 0;
  &:hover{
    text-decoration: none;
    background-color: $red-dark;
    color: #fff;
  }
}

.review-block__fields{
  width: 100%;
}

.review-block__files-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 25px;
  &.refugees-cabinet__form{
    width: 100%;
    .review-block__files{
      display: flex;
      justify-content: space-between;
      width: 100%;
      .input-file{
        width: calc(50% - 7px);
      }
      .input-wrapper{
        width: calc(50% - 7px);
        .input{
          border: 1px solid rgba(71, 71, 71, 0.3);
        }
      }
    }
    .review-block__files-btn{
      width: calc(50% - 7px);
      height: 40px;
      border: 1px solid rgba($red, .5);
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-weight: 400;
      font-size: 12px;
      line-height: 130%;
      color: $blue-dark;
      &:hover{
        box-shadow: 0 4px 10px rgba($red, .2);
      }
      svg{
        margin-right: 20px;
      }
    }
  }
}
