.student-stages__main{
  width: 755px;
  max-width: 100%;
}

.student-stages__step {
  margin-bottom: 5px;
  &.checked {
    .student-stages__step-title {
      color: $red;
    }
    .student-stages__step-checkbox {
      > div {
        border-color: $red;
        svg {
          display: block;
        }
      }
    }
  }
  &.current {
    .student-stages__step-title {
      span {
        display: flex;
      }
    }
    .student-stages__step-body {
      display: block;
      & .pagination {
        justify-content: flex-end;
      }
    }
  }
}

.student-stages__step-head{
  min-height: 40px;
  display: flex;
  > div {
    height: inherit;
    background-color: #fff;
    border-radius: 5px;
    margin-right: 5px;
    border: 1px solid rgba($blue-dark, .1);
    &:last-child {
      margin-right: 0;
    }
  }
}

.student-stages__step-title {
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 130%;
  color: $blue-dark;
  width: 650px;
  min-width: 650px;
  span {
    display: none;
    align-items: center;
    justify-content: center;
    width: 23px;
    min-width: 23px;
    height: 23px;
    border: 1px solid $red;
    border-radius: 5px;
    margin-right: 15px;
    svg{
      width: 11px;
      height: 9px;
      path{
        fill: $red;
      }
    }
  }
}

.student-stages__step-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 1px;
    border: 1px solid rgba($blue-dark, 0.3);
    svg {
      display: none;
      path{
        fill: $red;
      }
    }
  }
}

.student-stages__step-body {
  display: none;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 5px;
  border: 1px solid rgba($blue-dark, .1);
}

.student-stages__welcome{
  padding: 23px 60px 40px 44px;
}

.student-stages__welcome-title{
  font-family: $title;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  display: block;
  margin-bottom: 22px;
  color: $blue-dark;
}

.student-stages__welcome-main{
  display: flex;
  margin-bottom: 30px;
  picture{
    display: flex;
    width: 76px;
    min-width: 76px;
    height: 76px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 22px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  div{
    font-size: 12px;
    line-height: 130%;
    p{
      margin-bottom: 8px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

.student-stages__welcome-ok{
  width: 325px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  text-align: center;
  border: 1px solid $red;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $blue-dark;
}

.student-stages__approve{
  padding: 28px 32px;
}

.student-stages__approve-pic{
  display: flex;
  width: 40px;
  min-width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 22px;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.student-stages__approve-state1{
  display: flex;
  >div{
    span{
      font-weight: 600;
      font-size: 14px;
      line-height: 130%;
      display: block;
      color: $blue-dark;
      margin-bottom: 5px;
      a{
        color: $red;
        text-decoration: underline;
        &:hover{
          color: $red-dark;
          text-decoration: none;
        }
      }
    }
    small{
      font-size: 12px;
      line-height: 130%;
      display: block;
      +small{
        margin-top: 5px;
      }
    }
  }
}

.student-stages__approve-state2{
  display: flex;
  >div{
    span{
      font-weight: 600;
      font-size: 14px;
      line-height: 130%;
      display: block;
      color: $blue-dark;
      margin-bottom: 17px;
    }
    input{
      width: 108px;
      height: 40px;
      border-radius: 5px;
      font-size: 12px;
      line-height: 130%;
      padding: 0 16px;
      color: $blue-dark;
      border: 1px solid rgba($blue-dark, 0.3);
      &:disabled{
        background-color: #fff;
        border-color: rgba($blue-dark, 0.3);
      }
    }
  }
}

.student-stages__approve-state2__footer{
  display: flex;
  margin-top: 15px;
}

.student-stages__approve-state2__btn-submit{
  width: 174px;
  margin-right: 10px;
  background: $red;
  color: #fff;
  &:hover{
    background: $red-dark;
    color: #fff;
  }
}

.student-stages__approve-state2__btn-cancel{
  width: 410px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border: 1px solid $red;
  border-radius: 5px;
  font-size: 14px;
  line-height: 19px;
  color: $blue-dark;
  transition: linear .2s;
  &:hover{
    background: $red;
    color: #fff;
  }
}

.student-stages__approve-state3{
  display: flex;
}
.student-stages__approve-state3__body{
  >span{
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    display: block;
    color: $blue-dark;
    margin-bottom: 12px;
  }
  >div{
    display: flex;
    align-items: center;
    margin-bottom: 26px;
    span{
      margin-right: 5px;
      font-weight: 600;
      font-size: 14px;
      line-height: 130%;
      color: $blue-dark;
    }
  }
  >p{
    font-size: 12px;
    line-height: 130%;
    margin-bottom: 8px;
    &:last-child{
      margin-bottom: 0;
    }
    a{
      color: $red;
      text-decoration: underline;
      &:hover{
        color: $red-dark;
        text-decoration: none;
      }
    }
  }
  input{
    width: 108px;
    height: 40px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 130%;
    padding: 0 16px;
    color: $blue-dark;
    border: 1px solid rgba($blue-dark, 0.3);
    margin-right: 12px;
    &:disabled{
      background-color: #fff;
      border-color: rgba($blue-dark, 0.3);
    }
  }
}

.student-stages__approve-state3__footer{
  display: flex;
  margin-top: 20px;
  .btn-attach{
    width: 292px;
    margin-right: 12px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    border: 1px solid $red;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $blue-dark;
    transition: linear .2s;
    text-decoration: none;
    &:hover{
      text-decoration: none;
      background-color: $red;
      color: #fff;
    }
  }
  .btn-cancel{
    width: 392px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    border: 1px solid $red;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $blue-dark;
    transition: linear .2s;
    &:hover{
      text-decoration: none;
      background-color: $red;
      color: #fff;
    }
  }
}

.student-stages__ticket-download{
  .partner-cabinet__form{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 245px;
  }
  .input-file{
    margin-bottom: 0;
    width: 205px;
    height: 50px;
    border-color: $red;
    > label{
      svg{
        margin-right: 5px;
        path{
          fill: $red
        }
      }
      span{
        max-width: 130px;
        font-weight: 500;
      }
    }
  }
  .btn{
    width: 173px;
    margin-left: 12px;
    background: $red;
    color: #fff;
    &:hover{
      background: $red-dark;
      color: #fff;
    }
  }
}

.student-stages__insurance{
  padding: 28px 102px 20px 32px;
  .student-cabinet__btn{
    width: 100%;
    margin-top: 15px;
    background: $red;
    color: #fff;
    &:hover{
      background: $red-dark;
      color: #fff;
    }
  }
}

.student-stages__insurance-head{
  display: flex;
  align-items: center;
  >picture{
    display: block;
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 22px;
  }
  >div{
    >strong{
      display: block;
      color: $blue-dark;
      font-weight: 600;
      font-size: 14px;
      line-height: 130%;
    }
    >span{
      margin-top: 7px;
      display: block;
      font-size: 12px;
      line-height: 130%;
    }
  }
}

.student-stages__insurance-buttons{
  display: flex;
  margin-top: 30px;
  .btn{
    width: 235px;
    margin-right: 15px;
    border-color: $red;
    font-weight: 500;
    &:hover{
      border-color: $red;
      background-color: $red;
      color: #fff;
    }
  }
  .input-file{
    height: 50px;
    width: 370px;
    border-color: $red;
    margin-bottom: 0;
    > label{
      svg{
        path{
          fill: $red;
        }
      }
      span{
        font-size: 14px;
        line-height: 17px;
        font-weight: 500;
      }
    }
  }
}

.student-stages__insurance-download{
  padding-left: 62px;
  margin-top: 15px;
  a{
    display: block;
    color: $red;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    text-decoration: underline;
    &:hover{
      color: $red-dark;
      text-decoration: none;
    }
  }
}

.student-stages__review{
  height: 128px;
  min-height: 128px;
  padding: 42px 75px;
}

.student-stages__review-text{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: $title;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  p{
    margin-bottom: 0;
  }
  a{
    text-decoration: underline;
    color: $black;
    &:hover{
      text-decoration: none;
      color: $accent;
    }
  }
}

.student-stages__return{
  padding: 28px 56px 42px 32px;
}

.student-stages__return-date{
  background: $bg-gray;
  border-radius: 5px;
  padding: 20px 20px 15px;
  width: 558px;
  margin-left: 62px;
  margin-top: 12px;
  .input-wrapper{
    &.date-wrapper {
      .date-choose {
        width: 202px;
        @-moz-document url-prefix() {
          width: 202px;
        }
        &:before {
          width: 152px;
          border: 1px solid rgba($blue-dark, .1);
          @-moz-document url-prefix() {
            width: 152px;
          }
        }
        svg{
          path{
            fill: $blue-dark;
          }
        }
        .placeholder {
          width: 150px;
          color: rgba($blue-dark, .3);
          @-moz-document url-prefix() {
            width: 150px;
          }
        }
      }
    }
  }
}

.student-stages__return-buttons{
  display: flex;
  margin-left: 62px;
  margin-top: 22px;
  gap: 10px;
  .btn{
    width: 294px;
    margin-top: 0;
    border: 1px solid $red;
    font-weight: 500;
    color: $blue-dark;
    &:hover{
      text-decoration: none;
      background-color: $red;
      color: #fff;
    }
    +.btn{
      width: 254px;
    }
  }
}

.student-stages__upload-photo{
  padding: 28px 26px 28px 32px;
  .input-file{
    width: 250px;
    max-width: 515px;
    margin: 20px auto 0;
    height: 50px;
    border-color: $red;
    input{
      +label{
        svg{
          path{
            fill: $red;
          }
        }
        span{
          color: $blue-dark;
          font-weight: 500;
        }
      }
    }
  }
  .btn{
    width: 515px;
    margin: 25px auto 0;
    background: $red;
    font-weight: 500;
    color: #fff;
    &:hover{
      background: $red-dark;
      color: #fff;
    }
  }
}

.student-stages__upload-photo__name{
  display: block;
  padding-left: 62px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  +.student-stages__upload-photo__name{
    margin-top: 8px;
  }
}

.student-stages__accompaniment{
  padding: 28px 40px 40px 32px;
}

.student-stages__accompaniment-text{
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  margin-top: 12px;
  margin-left: 62px;
}

.student-stages__employer{
  padding: 28px 40px 30px 32px;
  .btn{
    width: 515px;
    margin-top: 20px;
    background: $red;
    color: #fff;
    &:hover{
      background: $red-dark;
      color: #fff;
    }
  }
}

.student-stages__employer-checkboxes{
  margin-top: 20px;
  .checkbox-wrapper {
    margin-bottom: 10px;
    &:last-child{
      margin-bottom: 0;
    }
    input {
      display: none;
      + label {
        display: flex;
        margin-bottom: 0;
        font-size: 12px;
        line-height: 20px;
        font-weight: 400;
        color: $blue-dark;
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        &:before {
          position: absolute;
          content: "";
          width: 20px;
          height: 20px;
          border-radius: 3px;
          border: 1px solid rgba($blue-dark, .3);
          left: 0;
          top: 0;
        }
        &:after {
          display: none;
          position: absolute;
          content: "";
          -webkit-mask: url("../images/icons/checkmark.svg");
          mask: url("../images/icons/checkmark.svg");
          -webkit-mask-position: center;
          mask-position: center;
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          -webkit-mask-size: contain;
          mask-size: contain;
          background-color: $red;
          width: 15px;
          height: 9px;
          left: 3px;
          top: 5px;
        }
      }
      &:checked {
        + label {
          color: $blue-dark;
          &:before {
            border: 1px solid $red;
            background: transparent;
          }
          &:after {
            display: block;
          }
        }
      }
    }
  }
}

.student-stages__ready-to-go{
  padding: 28px 102px 60px 32px;
  .btn{
    width: 515px;
    margin-top: 23px;
    &.student-cabinet__btn{
      background: $red;
      color: #fff;
      &:hover{
        background: $red-dark;
        color: #fff;
      }
    }
    &.to-chat{
      border-color: $red;
      &:hover{
        background-color: $red;
        color: #fff;
      }
      +.student-stages__employer-checkboxes{
        margin-top: 30px;
        .checkbox-wrapper{
          input{
            + label{
              color: $blue-dark;
              &:before{
                border-color: rgba($blue-dark, .3);
              }
              &:after{
                background-color: $red;
              }
            }
            &:checked{
              +label{
                &:before{
                  border: 1px solid $red;
                  background: transparent;
                }
              }
            }
          }
        }
      }
    }
  }
}

.student-stages__ready-to-go__flight{
  display: flex;
  align-items: center;
  margin-top: 13px;
  margin-bottom: 17px;
  >span{
    margin-right: 25px;
  }
  >.input{
    margin-right: 13px;
    width: 108px;
    border-color: rgba(71, 71, 71, 0.3);
  }
}
