.student-cabinet__trips-table__head {
  display: flex;
  background: #8B8A8E;
  border-radius: 5px 5px 0 0;
  min-height: 40px;
  .dropdown-wrapper {
    .dropdown {
      transition: linear .2s;
      svg {
        path {
          fill: #fff;
        }
      }
    }
    &.active {
      .dropdown {
        color: $red;
        svg {
          transform: scale(1, -1);
          path {
            fill: $red;
          }
        }
      }
    }
    &:last-child{
      .dropdown-list{
        right: 0;
      }
    }
  }
  > div {
    position: relative;
    font-weight: 500;
    font-size: 10px;
    line-height: 130%;
    color: #fff;
    &.number {
      width: 156px;
    }
    &.vacancy {
      width: 140px;
    }
    &.company {
      width: 177px;
    }
    &.period {
      width: 174px;
    }
    &.permission {
      width: 192px;
    }
    &.group{
      width: 200px;
    }
    > span {
      display: block;
      padding: 6px 8px 0;
    }
    .dropdowns {
      display: flex;
      .dropdown {
        padding: 5px;
      }
      &.two-cols {
        .dropdown-wrapper {
          width: 50%;
        }
      }
      &.three-cols {
        .dropdown-wrapper {
          width: 33.33333%;
        }
      }
    }
    .dropdown {
      display: flex;
      justify-content: flex-start;
      padding: 6px 8px;
      cursor: pointer;
      word-break: break-word;
      svg {
        min-width: 8px;
        margin-left: 3px;
        margin-top: 3px;
      }
    }
  }
}

.student-cabinet__trips-table__body {
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid rgba($blue-dark, .1);
  .student-cabinet__trips-table__row {
    display: flex;
    min-height: 40px;
    &:nth-child(even) {
      background: #f3f3f3;
    }
    &.inactive{
      pointer-events: none;
      > div {
        color: #8B8A8E;
        >a{
          color: #8B8A8E;
        }
        &.two-cols {
          > div {
            color: #8B8A8E;
            &.alert {
              color: #8B8A8E;
            }
            >a{
              color: #8B8A8E;
            }
          }
        }
        &.three-cols {
          color: #8B8A8E;
          > div {
            color: #8B8A8E;
            &.alert {
              color: #8B8A8E;
            }
            >a{
              color: #8B8A8E;
            }
          }
        }
      }
    }
    > div {
      padding: 6px 8px;
      font-size: 11px;
      line-height: 130%;
      color: $blue-dark;
      display: flex;
      align-items: center;
      >a {
        text-decoration: underline;
        color: $blue-dark;
        &:hover {
          color: $red;
          text-decoration: none;
        }
      }
      >span{
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      &.number {
        width: 156px;
      }
      &.vacancy {
        width: 140px;
        >span{
          overflow: visible;
          white-space: normal;
        }
      }
      &.company {
        width: 177px;
      }
      &.period {
        width: 174px;
      }
      &.permission {
        width: 192px;
      }
      &.group{
        width: 200px;
      }
      &.two-cols {
        > div {
          width: 50%;
          &.alert{
            color: $red;
            padding: 0;
            margin: 0;
            border: none;
          }
          >a {
            text-decoration: underline;
            color: $blue-dark;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &:hover {
              color: $red;
              text-decoration: none;
            }
          }
          >span{
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
      &.three-cols {
        > div {
          width: 33.33333%;
          &.alert{
            color: $red;
            padding: 0;
            margin: 0;
            border: none;
          }
          >a {
            text-decoration: underline;
            color: $blue-dark;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &:hover {
              color: $red;
              text-decoration: none;
            }
          }
          >span{
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

.student-company__btn-back{
  width: 227px;
  border-color: $red;
  &:hover{
    background-color: $red;
    border-color: $red;
    color: #fff;
  }
}
