// Переменные для приложения и всех модулей

$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$formBorder: none;
$formBorderRadius: 0;
$inputBorderRadius: 0;
$gray: #757575;
// $black: #25222C;
$text: #474747;
$purple: #4F46E0;
$pink: #F459A4;
$accent: #5F6CFA;
// $bg-gray: #F4F4F4;
$border: rgba(117, 117, 117, 0.3);
$shadow: 0px 4px 20px rgba(33, 31, 31, 0.1);
$default: 'NotoSans';
$title: 'Montserrat';

// workers platform
$bg-gray: #F4F4F4;
$black: #25222C;
$red: #D2374A;
$red-accent: #F83B53;
$red-dark: #65000D;
$red-dark2: #7A0D1B;
$blue-dark: #0A1C27;

