<header class="header">
    <div class="container">
        <div class="header-wrapper">
            <div class="mobile-menu__btn">
                <span></span>
            </div>
            <a href="javascript:void(0)" class="header-logo">
                <img src="../../images/logo.svg" alt="">
            </a>
            <div class="header-controls">
                <div class="header-lang__wrapper">
                    <div class="header-lang">
                        <span>Русский</span>
                        <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.33325 2.99984L1.99992 2.33317L3.99992 4.33317L5.99992 2.33317L6.66658 2.99984L3.99992 5.6665L1.33325 2.99984Z" fill="#25222C"/>
                        </svg>
                    </div>
                    <div class="header-list">
                        <ul>
                            <li>
                                <span>Русский</span>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Українська</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">English</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Deutsch</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Shqiptare</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Bosanski</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">हिंदी</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Tiếng Việt</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <a href="javascript:void(0)" class="header-login">Войти</a>
            </div>
        </div>
    </div>
</header>